<div class="toolbar-container">

  <emp-ng-search-box *empNgHasPermission="permissions.MODULE_SEARCH_SERVICES"
    class="search-and-settings"
    (searchBoxChange)="onSearchClicked($event)">

  </emp-ng-search-box>


  <button *empNgHasPermission="permissions.MODULE_SEARCH_RECORDABLE_SUBJECTS"
    class="toolbar-item"
    title="Explorador de folios electrónicos"
    [ngClass]="{'activate': toolSelected === 'SearchRecordableSubject'}"
    (click)="onToolClicked('SearchRecordableSubject')">

    <mat-icon>menu_book</mat-icon>

  </button>

</div>
