<form [formGroup]="form" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">
    <div class="section-title">Documento a inscribir</div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Tipo de instrumento:</label>
        <emp-ng-select formControlName="type"
          [config]="{ clearable: false }"
          [bindLabel]="'typeName'"
          [bindValue]="'type'"
          [items]="instrumentTypesList"
          [showError]="getFormControl('type').touched && getFormControl('type').invalid"
          (changes)="instrumentTypeChange($event)">
        </emp-ng-select>

      </div>
      <div fxFlex>
        <label>Fecha:</label>
        <emp-ng-datepicker formControlName="issueDate">
        </emp-ng-datepicker>
      </div>
      <div fxFlex fxLayoutAlign="end">
        <div fxFlex="100px">
          <label>Número de hojas:</label>
          <input formControlName="sheetsCount"
            type="number"
            class="text-box">
        </div>
      </div>
    </div>

    <ng-container *ngIf="getFormControl('type').value">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100">
          <ng-container [ngSwitch]="getFormControl('type').value">
            <label *ngSwitchCase="InstrumentType.DocumentoJuzgado">Autoridad:</label>
            <label *ngSwitchCase="InstrumentType.DocumentoTerceros">Expedido por:</label>
            <label *ngSwitchCase="InstrumentType.TituloPropiedad">Expedido por C.:</label>
            <label *ngSwitchDefault>Notaría:</label>
          </ng-container>
          <emp-ng-select formControlName="issuer"
            [config]="{ hideSelected: true, minTermLength: issuerMinTermLength }"
            [items]="issuerList$ | async"
            [typeahead]="issuerInput$"
            [loading]="issuerLoading">
          <ng-template #labelTemplate let-item="item">
            <ng-container *ngIf="validateTypeSelected([InstrumentType.EscrituraPublica,
                                                       InstrumentType.OficioNotaria])">
              <span class="ng-value-label">
                <strong>{{item.entity}}, {{item.place}} - </strong>
                {{item.officialPosition}} - {{item.name}}
              </span>
            </ng-container>

            <ng-container *ngIf="validateTypeSelected([InstrumentType.DocumentoJuzgado])">
              <span class="ng-value-label">
                <strong>{{item.place}} - </strong>
                {{item.officialPosition}} - {{item.name}}
              </span>
            </ng-container>

            <ng-container *ngIf="validateTypeSelected([InstrumentType.DocumentoTerceros,
                                                       InstrumentType.TituloPropiedad])">
              <span class="ng-value-label">
                <strong>{{item.name}} - </strong>
                {{item.officialPosition}}
              </span>
            </ng-container>
          </ng-template>

          <ng-template #optionTemplate let-item="item">
            <ng-container *ngIf="validateTypeSelected([InstrumentType.EscrituraPublica,
                                                       InstrumentType.OficioNotaria])">
              <div class="ng-option item-template">
                {{item.entity}}, {{item.place}}<br>
                <span class="item-text-sm">
                  <strong>{{item.officialPosition}}</strong>
                  {{item.name}}
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="validateTypeSelected([InstrumentType.DocumentoJuzgado])">
              <div class="ng-option item-template">
                <strong>{{item.place}},</strong> {{item.officialPosition}}<br>
                {{item.name}}
              </div>
            </ng-container>

            <ng-container *ngIf="validateTypeSelected([InstrumentType.DocumentoTerceros,
                                                       InstrumentType.TituloPropiedad])">
              <div class="ng-option item-template">
                <strong>{{item.name}}</strong> <br>
                {{item.officialPosition}}
              </div>
            </ng-container>
          </ng-template>
        </emp-ng-select>
        </div>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column">
        <div [fxFlex]="100/3" fxFlex.lt-md="100"
          *ngIf="validateTypeSelected([InstrumentType.OficioNotaria,
                                       InstrumentType.DocumentoJuzgado,
                                       InstrumentType.DocumentoTerceros])">

          <ng-container [ngSwitch]="getFormControl('type').value">
            <label *ngSwitchCase="InstrumentType.DocumentoTerceros">Tipo de documento:</label>
            <label *ngSwitchDefault>Tipo de oficio:</label>
          </ng-container>

          <emp-ng-select formControlName="kind"
            [bindValue]="'name'"
            [items]="instrumentKindsList">
          </emp-ng-select>
        </div>

        <div [fxFlex]="100/3" fxFlex.lt-md="100">
          <ng-container [ngSwitch]="getFormControl('type').value">
            <label *ngSwitchCase="InstrumentType.EscrituraPublica">Escritura:</label>
            <label *ngSwitchCase="InstrumentType.OficioNotaria">No. Oficio:</label>
            <label *ngSwitchCase="InstrumentType.DocumentoJuzgado">Oficio:</label>
            <label *ngSwitchCase="InstrumentType.DocumentoTerceros">No. Documento:</label>
            <label *ngSwitchCase="InstrumentType.TituloPropiedad">Título de propiedad No.:</label>
          </ng-container>

          <input formControlName="instrumentNo"
            type="text"
            class="text-box uppercase">
        </div>

        <div [fxFlex]="100/3" fxFlex.lt-md="100"
          *ngIf="validateTypeSelected([InstrumentType.EscrituraPublica,
                                       InstrumentType.DocumentoJuzgado])">
          <ng-container [ngSwitch]="getFormControl('type').value">
            <label *ngSwitchCase="InstrumentType.EscrituraPublica">Volumen / libro:</label>
            <label *ngSwitchDefault>Expediente:</label>
          </ng-container>
          <input formControlName="binderNo"
            type="text"
            class="text-box uppercase">
        </div>

        <div [fxFlex]="100/3" fxFlex.lt-md="100" fxLayoutAlign="end"
          *ngIf="validateTypeSelected([InstrumentType.EscrituraPublica])">
          <div fxFlex="100px">
            <label>Folio del:</label>
            <input formControlName="folio"
              type="text"
              class="text-box uppercase"
              style="width: 90px;">
            </div>

            <div fxFlex="100px">
              <label>al:</label>
              <input formControlName="endFolio"
                type="text"
                class="text-box uppercase"
                style="width: 90px;">
            </div>
        </div>

        <div [fxFlex]="100/3" fxFlex.lt-md="100"
          *ngIf="validateTypeSelected([InstrumentType.TituloPropiedad])">
            <label>Folio:</label>
            <input formControlName="folio"
              type="text"
              class="text-box uppercase">
        </div>
      </div>
    </ng-container>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Descripción:</label>
        <emp-ng-text-editor formControlName="summary">
        </emp-ng-text-editor>
      </div>
    </div>

    <div *ngIf="instrument.actions.can.edit" fxLayout="row" fxLayoutAlign="space-between" >
      <button (click)="enableEditor(readonly)" [ngClass]="readonly ? 'btn-action' : 'btn-warning'">
        {{readonly ? 'Editar Documento' : 'Descartar Cambios'}}
      </button>

      <button *ngIf="!readonly" (click)="submit()"
        [class.btn]="form?.invalid"
        [class.btn-action]="form?.valid">
        Guardar los Cambios
      </button>
    </div>
  </div>
</form>
