<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div class="section-title">Recibir Trámite</div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <ng-container *ngIf="showPaymentReceiptEditor">

        <div [fxFlex]="100/3">
          <label>Recibo de pago:</label>
          <input formControlName="paymentReceiptNo" empNgInteger
            type="text"
            class="text-box"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.paymentReceiptNo)">
        </div>

        <div fxFlex="100px" fxFlex.lt-md="none">
          <label>Importe del recibo:</label>
          <input formControlName="total" empNgCurrency
            type="text"
            class="text-box"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.total)">
        </div>

      </ng-container>

      <div fxFlex fxLayoutAlign="end end" style="padding-bottom: 2px;">

        <button *ngIf="canEdit" type="submit"
          (click)="onSetPaymentClicked()"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)">
          Guardar recibo
        </button>

        <button *ngIf="canCancel" type="submit"
          (click)="onCancelPaymentClicked()"
          class="btn-warning">
          Cancelar recibo
        </button>

        <button *ngIf="canSubmit" type="submit"
          (click)="onSubmitTransactionClicked()"
          class="btn-action">
          Recibir
        </button>

      </div>

    </div>

  </div>

</form>
