<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="section-title">Recibir Trámite</div>

    <div class="fx-row-container sm-fx-column-container">

      <ng-container *ngIf="showPaymentReceiptEditor">

        <div class="fx-item-third sm-fx-item">
          <label>Recibo de pago:</label>
          <input formControlName="paymentReceiptNo" empNgInteger
            type="text"
            class="text-box"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.paymentReceiptNo)">
        </div>

        <div class="fx-item-size sm-fx-item" style="--size: 100px">
          <label>Importe del recibo:</label>
          <input formControlName="total" empNgCurrency
            type="text"
            class="text-box"
            [class.invalid-control]="formHelper.isControlInvalid(form.controls.total)">
        </div>

      </ng-container>

      <div class="fx-item fx-row-container fx-end fx-items-end" style="padding-bottom: 2px;">

        <button *ngIf="canEdit" type="submit"
          (click)="onSetPaymentClicked()"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)">
          Guardar recibo
        </button>

        <button *ngIf="canCancel" type="submit"
          (click)="onCancelPaymentClicked()"
          class="btn-warning">
          Cancelar recibo
        </button>

        <button *ngIf="canSubmit" type="submit"
          (click)="onSubmitTransactionClicked()"
          class="btn-action">
          Recibir
        </button>

      </div>

    </div>

  </div>

</form>
