<emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

<form [formGroup]="formHandler.form" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="290px">
        <label>Folio electrónico:</label>

        <div fxLayout="row">
          <input type="text" class="text-box"  [fxFlex]="showElectronicHistoryButton ? '182px' : '282px'"
            [formControlName]="controls.electronicID">
          <button type="button" class="btn" fxFlex="92px" *ngIf="showElectronicHistoryButton"
            [style.marginTop.px]="2" (click)="onElectronicHistoryClicked()">Historia</button>
        </div>
      </div>

      <div fxFlex="290px">
        <label>Distrito:</label>
        <emp-ng-select [formControlName]="controls.recorderOfficeUID"
          [items]="recorderOfficeList"
          [showError]="formHandler.showInvalidControl(controls.recorderOfficeUID)">
        </emp-ng-select>
      </div>
    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="290px">
        <label>Tipo:</label>
        <emp-ng-select
          [formControlName]="controls.kind"
          [bindValue]="'name'"
          [items]="kindsList"
          [showError]="formHandler.showInvalidControl(controls.kind)">
        </emp-ng-select>
      </div>

      <div fxFlex="100">
        <label>Nombre o denominación:</label>

        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.name"
          [class.invalid-control]="formHandler.showInvalidControl(controls.name)">
        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100%">
        <label *ngIf="!isAssociation">Descripción (opcional):</label>

        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.description"
          [class.invalid-control]="formHandler.showInvalidControl(controls.description)">
        </textarea>

      </div>
    </div>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="start center">

        <button *ngIf="editionMode" (click)="enableEditor(false)" class="btn">
          Descartar Cambios
        </button>

      </div>

      <div fxFlex fxLayoutAlign="center center">

        <ng-container>

          <span style="padding-right: 0.5rem;">Marcar como:</span>

          <emp-ng-select
            [formControlName]="controls.status"
            bindLabel="statusName"
            bindValue="status"
            [items]="statusList"
            [showError]="formHandler.showInvalidControl(controls.status)"
            (changes)="onStatusChange($event)"
            [style.width.px]="125">
          </emp-ng-select>

        </ng-container>

      </div>

      <div fxFlex fxLayoutAlign="end center">

        <button *ngIf="!readonly && !editionMode" (click)="enableEditor(true)" class="btn-action">
          Editar
        </button>

        <button *ngIf="editionMode" (click)="submitForm()" [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid">
          Guardar
        </button>

      </div>

    </div>

  </div>

</form>
