<emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

<form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="290px" fxFlex.lt-md="none">
        <label>Folio electrónico:</label>

        <div fxLayout="row">
          <input type="text" class="text-box"  [fxFlex]="showElectronicHistoryButton ? '182px' : '282px'"
            formControlName="electronicID">
          <button type="button" class="btn" fxFlex="92px" *ngIf="showElectronicHistoryButton"
            [style.marginTop.px]="2" (click)="onElectronicHistoryClicked()">Historia</button>
        </div>
      </div>

      <div fxFlex>
        <label>Distrito:</label>
        <emp-ng-select formControlName="recorderOfficeUID"
          [items]="recorderOfficeList"
          [showError]="formHelper.isControlInvalid(form.controls.recorderOfficeUID)">
        </emp-ng-select>
      </div>
    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="290px" fxFlex.lt-md="none">
        <label>Tipo:</label>
        <emp-ng-select
          formControlName="kind"
          [bindValue]="'name'"
          [items]="kindsList"
          [showError]="formHelper.isControlInvalid(form.controls.kind)">
        </emp-ng-select>
      </div>

      <div fxFlex="100">
        <label>Nombre o denominación:</label>

        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100%">
        <label *ngIf="!isAssociation">Descripción (opcional):</label>

        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>

      </div>
    </div>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="start center">

        <button *ngIf="editionMode" (click)="enableEditor(false)" class="btn">
          Descartar Cambios
        </button>

      </div>

      <div fxFlex fxLayoutAlign="center center">

        <ng-container>

          <span class="pr-1">{{editionMode ? 'Marcar como:' : 'Marcado como:'}}</span>

          <emp-ng-select
            formControlName="status"
            bindLabel="statusName"
            bindValue="status"
            [items]="statusList"
            [showError]="formHelper.isControlInvalid(form.controls.status)"
            (changes)="onStatusChanges($event)"
            [style.width.px]="125">
          </emp-ng-select>

        </ng-container>

      </div>

      <div fxFlex fxLayoutAlign="end center">

        <button *ngIf="!readonly && !editionMode" class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <button *ngIf="editionMode"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitClicked()" >
          Guardar
        </button>

      </div>

    </div>

  </div>

</form>
