<div class="fx-row-container sm-fx-column-container fx-gap-size sm-fx-gap-half" style="--gap-size: 1.5rem">

  <div class="fx-item sm-fx-item-none">

    <div class="label nowrap">{{displayDocument ? item.type : 'Tipo de trámite'}}</div>
    <div class="primary-text"><strong>{{item.subtype}}</strong></div>
    <div>{{displayDocument ? documentID : item.type}}</div>

  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 160px">

    <div *ngIf="item?.transactionID">
      <div class="label nowrap">Trámite RPP</div>

      <div class="primary-text">
        <strong>{{item?.transactionID}}</strong>  &nbsp; {{item.internalControlNo}}
      </div>

      <div *ngIf="item.presentationTime" class="fx-row-container nowrap">

        <div class="fx-item-size underline-text" style="--size: 60px">Presentado:</div>
        {{item?.presentationTime | empDateTimeFormat: 'DMY HH:mm'}}

      </div>

      <div *ngIf="item.registrationTime" class="fx-row-container nowrap">

        <div class="fx-item-size underline-text" style="--size: 60px">Registrado:</div>
        {{item?.registrationTime | empDateTimeFormat: 'DMY HH:mm'}}

      </div>

    </div>

  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 20%">

    <div class="label nowrap">Lo tiene:</div>
    <div class="primary-text"><strong>{{item.assignedToName}}</strong></div>
    <div>{{item.statusName}}</div>

  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 80px">

    <ng-container *ngIf="item.nextStatusName !== 'No determinado'">
      <div class="label nowrap">Siguiente estado:</div>
      <div>{{item.nextStatusName}}</div>
    </ng-container>

  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 30px">

    <div class="primary-text nowrap" *ngIf="!displayDocument">
      <emp-ng-menu [items]="listOptions" [config]="{hideMenuIfOneItem: true}"
        (selected)="onClickItemOptions($event)">

      </emp-ng-menu>
    </div>

  </div>

</div>
