<emp-land-instrument-editor
  [instrument]="instrumentRecording.instrument"
  [actions]="actions"
  (instrumentEditorEvent)="onInstrumentEditorEvent($event)">
</emp-land-instrument-editor>

<ng-container *ngIf="actions.show.recordingBookEntries">
  <br>
  <emp-land-instrument-book-entry-list
    [instrumentRecording]="instrumentRecording">
  </emp-land-instrument-book-entry-list>

  <emp-ng-expansion-button *ngIf="actions.can.createNextRecordingBookEntries"
    [(panelState)]="panelAddState"
    [config]="{textButtonOpen: 'Agregar registro del documento en libros',
               textButtonClose: 'Cancelar agregar registro'}">

    <emp-land-instrument-land-book-entry-creator *ngIf="panelAddState"
      [instrumentRecordingUID]="instrumentRecording.uid">

    </emp-land-instrument-land-book-entry-creator>

  </emp-ng-expansion-button>

</ng-container>


<ng-container *ngIf="actions.show.recordingActs">

  <br>

  <emp-land-recording-acts-list
    [instrumentRecording]="instrumentRecording"
    [recordingActs]="instrumentRecording.recordingActs"
    (recordingActsListEvent)="onRecordingActsListEvent($event)">
  </emp-land-recording-acts-list>

  <emp-ng-expansion-button *ngIf="actions.can.editRecordingActs"
    [(panelState)]="panelAddState"
    [config]="{textButtonOpen: 'Agregar un acto jurídico al instrumento',
               textButtonClose: 'Cancelar agregar registro'}">

    <emp-land-recording-act-creator *ngIf="panelAddState"
      [instrumentRecording]="instrumentRecording"
      [recordingActTypeGroupList]="recordingActTypeGroupList"
      (recordingActCreatorEvent)="onRecordingActCreatorEvent($event)">
    </emp-land-recording-act-creator>

  </emp-ng-expansion-button>

</ng-container>

<emp-ng-file-print-preview #filePrintPreview
  title="Impresión de sello interesado"
  [hint]="instrumentRecording.instrument.typeName">
</emp-ng-file-print-preview>
