<div class="explorer">

  <div class="primary"
    [fxHide.lt-lg]="displayRecordableSubjectTabbedView || displayRecordingActEditor">

    <emp-land-book-entry-edition #bookEntryEdition
      [recordingBookUID]="bookEntryContext.recordingBookUID"
      [bookEntryUID]="bookEntryContext.uid"
      [instrumentRecordingUID]="bookEntryContext.instrumentRecordingUID"
      [primaryEditor]="true"
      (bookEntryEditionEvent)="onBookEntryEditionEvent($event)">

    </emp-land-book-entry-edition>

  </div>

  <div *ngIf="displayRecordableSubjectTabbedView"
    class="secondary">

    <emp-land-recordable-subject-tabbed-view
      [instrumentRecordingUID]="selectedRecordingContext.instrumentRecordingUID"
      [recordingActUID]="selectedRecordingContext.recordingActUID"
      [canEditRecordableSubject]="selectedRecordingContext.actions.can.editRecordableSubject"
      (recordableSubjectTabbedViewEvent)="onRecordableSubjectTabbedViewEvent($event)">

    </emp-land-recordable-subject-tabbed-view>

  </div>

  <div *ngIf="displayRecordingActEditor"
    class="secondary">

    <emp-land-recording-act-edition
      [instrumentRecordingUID]="selectedRecordingContext.instrumentRecordingUID"
      [recordingActUID]="selectedRecordingContext.recordingActUID"
      [readonly]="!selectedRecordingContext.actions.can.editRecordableSubject"
      (recordingActEditionEventType)="onRecordingActEditionEventType($event)">

    </emp-land-recording-act-edition>

  </div>

</div>
