<div class="explorer">

  <div class="primary"
    [fxHide.lt-lg]="displayRegistryEntryEditor">

    <emp-land-book-entry-edition #bookEntryEdition
      [recordingBookUID]="bookEntryContext.recordingBookUID"
      [bookEntryUID]="bookEntryContext.uid"
      [instrumentRecordingUID]="bookEntryContext.instrumentRecordingUID"
      [primaryEditor]="true"
      (bookEntryEditionEvent)="onBookEntryEditionEvent($event)">

    </emp-land-book-entry-edition>

  </div>

  <div *ngIf="displayRegistryEntryEditor"
    class="secondary">

    <emp-land-registry-entry-editor
      [data]="selectedRegistryEntryData"
      (registryEntryEditorEvent)="onRegistryEntryEditorEvent($event)">

    </emp-land-registry-entry-editor>

  </div>

</div>
