<div class="explorer">

  <div *ngIf="displayFileViewer"
    class="primary-resizable"
    ngClass.lt-lg="primary-resizable-disable"
    empNgResizable>

    <emp-land-file-viewer
      [fileViewerData]="selectedFileViewerData"
      [showCloseButton]="true"
      (closeEvent)="unselectCurrentFile()">

    </emp-land-file-viewer>

  </div>

  <div class="primary"
    [fxHide]="displayFileViewer && displayBookEntryEdition"
    [fxHide.lt-lg]="displayBookEntryEdition || displayFileViewer">

    <emp-land-recording-book-edition
      (RecordingBookEditionEvent)="onRecordingBookEditionEvent($event)">

    </emp-land-recording-book-edition>

  </div>

  <div *ngIf="displayBookEntryEdition"
    class="secondary"
    [fxHide]="displayRecordableSubjectTabbedView || displayRecordingActEditor"
    [fxHide.lt-lg]="displayRecordableSubjectTabbedView || displayFileViewer || displayRecordingActEditor">

    <emp-land-book-entry-edition #bookEntryEdition
      [recordingBookUID]="selectedBookEntry.recordingBookUID"
      [bookEntryUID]="selectedBookEntry.uid"
      [instrumentRecordingUID]="selectedBookEntry.instrumentRecording.uid"
      (BookEntryEditionEvent)="onBookEntryEditionEvent($event)"
      (closeEvent)="unselectBookEntry()">

    </emp-land-book-entry-edition>

  </div>

  <div *ngIf="displayRecordableSubjectTabbedView"
    class="secondary">

    <emp-land-recordable-subject-tabbed-view
      [instrumentRecording]="selectedRecordingAct.instrumentRecording"
      [recordingAct]="selectedRecordingAct.recordingAct"
      (closeEvent)="unselectCurrentRecordingAct()"
      (recordableSubjectTabbedViewEvent)="onRecordableSubjectTabbedViewEvent($event)">

    </emp-land-recordable-subject-tabbed-view>

  </div>

  <div *ngIf="displayRecordingActEditor"
    class="secondary">

    <emp-land-recording-act-edition
      [instrumentRecordingUID]="selectedRecordingAct.instrumentRecording.uid"
      [recordingActUID]="selectedRecordingAct.recordingAct.uid"
      (closeEvent)="unselectCurrentRecordingAct()"
      (recordingActUpdated)="onRecordingActUpdated()">

    </emp-land-recording-act-edition>

  </div>

</div>
