
<div fxLayout="column" fxFlexFill>

  <div class="section-title">Historia registral</div>


  <div class="tab-container scrollable-container mat-elevation-z1" [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="submitted || isLoading ">

    </emp-ng-spinner>

    <emp-land-tract-index-entries-table
      [tractIndexEntriesList]="tractIndex.entries"
      [tractIndexEntryUID]="recordingActUID"
      [canDelete]="true"
      [hasNestedEntries]="hasNestedEntries"
      [checkNestedEntries]="checkNestedEntries"
      (tractIndexEntriesTableEvent)="onTractIndexEntriesTableEvent($event)">

    </emp-land-tract-index-entries-table>

  </div>


  <ng-container *ngIf="tractIndex.actions.canBeClosed ||
                       tractIndex.actions.canBeOpened ||
                       tractIndex.actions.canBeUpdated">

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row" [style.marginRight.px]="8">

      <div fxFlex fxLayoutAlign="start">
        <button type="button" class="btn" *ngIf="tractIndex.actions.canBeClosed"
          (click)="onCloseTractIndex()">
          Cerrar la historia registral
        </button>

        <button type="button" class="btn" *ngIf="tractIndex.actions.canBeOpened"
          (click)="onOpenTractIndex()">
          Editar la historia registral
        </button>
      </div>

      <form class="form-section" fxFlex fxLayoutAlign="center center" *ngIf="hasNestedEntries">

        <mat-checkbox
          [(ngModel)]="checkNestedEntries"
          [ngModelOptions]="{standalone: true}"
          (click)="$event.stopPropagation">
          Anidar actos modificados
        </mat-checkbox>

      </form>

      <div fxFlex fxLayoutAlign="end" *ngIf="tractIndex.actions.canBeUpdated">
        <button type="submit" class="btn-action"
        (click)="onOpenRecordingActCreator()">
          Agregar un acto a la historia
        </button>
      </div>

    </div>

  </ng-container>

</div>


<emp-land-recording-act-creator-modal *ngIf="displayRecordingActCreator"
  [recordableSubject]="tractIndex.recordableSubject"
  (recordingActCreatorModalEvent)="onRecordingActCreatorModalEvent($event)">

</emp-land-recording-act-creator-modal>


<emp-land-recording-act-edition-modal *ngIf="displayRecordingActEdition"
  [instrumentRecordingUID]="tractIndexEntrySelected.recordingData.uid"
  [recordingActUID]="tractIndexEntrySelected.uid"
  [readonly]="!tractIndexEntrySelected.actions.canBeUpdated"
  (recordingActEditionModalEvent)="onRecordingActEditionModalEvent($event)">

</emp-land-recording-act-edition-modal>
