
<emp-ng-card
  [title]="cardTitle"
  [hint]="cardHint"
  [empNgSpinnerHost]="spinner"
  (cardClose)="onClose()">

  <emp-ng-spinner #spinner [visible]="isLoading" >

  </emp-ng-spinner>

  <mat-tab-group>

    <mat-tab [label]="tabEditorLabel">

      <emp-land-recordable-subject-editor
       [instrumentRecordingUID]="instrumentRecordingUID"
       [recordingActUID]="recordingActUID"
       [recordableSubject]="tractIndex.recordableSubject"
       [readonly]="canEditRecordableSubject"
       (recordableSubjectEditorEvent)="onRecordableSubjectEditorEvent($event)">

      </emp-land-recordable-subject-editor>

    </mat-tab>

    <mat-tab label="Estructura" disabled *ngIf="isRealEstate">

    </mat-tab>

    <mat-tab label="Historia" disabled>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
