
<emp-ng-card
  [title]="cardTitle"
  [hint]="cardHint"
  (cardClose)="onClose()">

  <mat-tab-group>

    <mat-tab [label]="tabEditorLabel">

      <emp-land-recordable-subject-editor
       [instrumentRecordingUID]="instrumentRecording.uid"
       [recordingActUID]="recordingAct.uid"
       [recordableSubject]="recordingAct.recordableSubject"
       [readonly]="instrumentRecording.actions.can.openInstrument"
       (recordableSubjectEditorEvent)="onRecordableSubjectEditorEvent($event)">

      </emp-land-recordable-subject-editor>

    </mat-tab>

    <mat-tab label="Estructura" disabled *ngIf="isRealEstate">

    </mat-tab>

    <mat-tab label="Historia" disabled>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
