<mat-accordion [displayMode]="'flat'" hideToggle>
    <mat-expansion-panel #matExpansionPanel (closed)="resetForm()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>add</mat-icon>
                <span>Agregar una nueva persona u organización a este acto jurídico</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <ng-container *ngTemplateOutlet="searchPartyTemplate"></ng-container>
        
        <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        <mat-action-row *ngIf="showForm">
            <button (click)="submit()"
                    [class.btn]="!form?.valid" 
                    [class.btn-action]="form?.valid">
                Agregar
            </button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>

<ng-template #searchPartyTemplate>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
        <div fxFlex="100" fxLayoutAlign="space-around">
            <label class="label-filter">Buscar:</label>
            <div fxFlex="70">

                <ng-select #selectsearch
                    [items]="parties$ | async"
                    bindvalue="uid"
                    bindLabel="name"
                    [(ngModel)]="selectedParty"
                    [typeahead]="partiesInput$"
                    [loading]="partiesLoading"
                    [addTag]="true"
                    [hideSelected]="true"
                    [minTermLength]="5"
                    typeToSearchText="Por favor ingrese cinco o mas caracteres"
                    addTagText="Agregar Persona"
                    (change)="setFormData()"
                    (clear)="resetForm()">
                
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div>
                            {{item.name}}
                            <br>
                            <div style="font-size: 0.7rem;">
                               <b>{{item.identification?.typeIdentification.name}}: </b>  
                               {{item.identification?.numberIdentification}}
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>


            <ng-select  [items]="partyTypesList"
                        [(ngModel)]="selectedPartyType"
                        bindLabel="name"
                        bindValue="uid"
                        placeholder="( Todas )"
                        fxFlex="30">
            </ng-select>
        </div>
    </div>
</ng-template>

<ng-template #formTemplate>
    <form *ngIf="showForm" [formGroup]="form" fxLayout="column" autocomplete="off" class="form-section">

        <mat-divider class="divider-padding"></mat-divider>

        <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>


        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div fxFlex="100" fxLayoutAlign="space-around">
                <label for="name">{{selectedParty.type == '1' ? 'Nombre Completo:' : 'Nombre o razón social'}}</label>
                <input  formControlName='name' 
                        type="text" 
                        class="text-box uppercase"
                        [class.invalid-control]="name.touched && name.errors">
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div *ngIf="selectedParty.type == '1'" fxFlex="100" fxLayoutAlign="space-around">
                <label>CURP:</label>
                <input  formControlName='curp' 
                        type="text" 
                        class="text-box uppercase">
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div *ngIf="selectedParty.type == '1'" fxFlex="100" fxLayoutAlign="space-around">
                <label>Identificación:</label>
                <ng-select  [items]="identificationTypesList" 
                            fxFlex="50"
                            bindLabel="name"
                            bindValue="uid"
                            formControlName="typeIdentification"
                            placeholder="( Ninguna )">
                </ng-select>
                <input  formControlName="identification"
                        fxFlex="50" 
                        type="text" 
                        class="text-box uppercase">
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div *ngIf="selectedParty.type != '1'" fxFlex="100" fxLayoutAlign="space-around">
                <label>RFC:</label>
                <input  formControlName='rfc' 
                        type="text" 
                        class="text-box uppercase">
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div fxFlex="100" fxLayoutAlign="space-around">
                <label>Otra información:</label>
                <textarea   formControlName="notes"
                            class="text-area uppercase" 
                            rows="3"></textarea>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div fxFlex="40" fxLayoutAlign="space-around">
                <label>Participa como:</label>
                <ng-select  [items]="rolesList" fxFlex="100"
                            bindLabel="name"
                            bindValue="uid"
                            groupBy="items"
                            formControlName="role"
                            placeholder="( Seleccionar rol )"
                            [class.invalid-control]="role.touched && role.errors">
                    <ng-template ng-optgroup-tmp let-item="item">
                        {{item.name}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        {{item.name}}
                    </ng-template>
                </ng-select>
            </div>

            <ng-container [ngSwitch]="getRoleTypeSelected()">
                <ng-container *ngSwitchCase="rolesGroup.primary">
                    <div fxFlex="100" fxLayoutAlign="space-around">
                        <label class="label-sm">Sobre:</label>
                        <ng-select  [items]="participationTypesList" fxFlex="100"
                                    bindLabel="name"
                                    bindValue="uid"
                                    formControlName="participationType"
                                    placeholder="( U de M )"
                                    [class.invalid-control]="participationType.touched && participationType.errors">
                        </ng-select>
                    </div>
        
                    <div *ngIf="validateParticipationTypeWithAmount(participationType.value)" fxFlex="40" fxLayoutAlign="space-around">
                        <label class="label-sm">Cantidad:</label>
                        <input  formControlName="participationAmount" 
                                type="number" 
                                class="text-box"
                                [class.invalid-control]="participationAmount.touched && participationAmount.errors">
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="rolesGroup.secondary">
                    <div fxFlex="100" fxLayoutAlign="space-around">
                        <label class="label-sm">Sobre:</label>
                        <ng-select fxFlex="100"
                            [items]="partiesInRecordingActList"
                            [multiple]="true"
                            [closeOnSelect]="false"
                            [searchable]="false"
                            bindLabel="name"
                            placeholder="Seleccionar una persona u organización"
                            formControlName="of"
                            [class.invalid-control]="of.touched && of.errors">
                        </ng-select>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <div fxFlex="100" fxLayoutAlign="space-around center">Primero Seleccione un rol de la lista de la izquierda</div>
                </ng-container>
            </ng-container>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px" fxLayoutGap.lt-md="0px">
            <div fxFlex="100" fxLayoutAlign="space-around">
                <label>Observaciones:</label>
                <textarea   formControlName="observations"
                            class="text-area uppercase" 
                            rows="3"></textarea>
            </div>
        </div>
    </form>
</ng-template>
