<form class="form-container" autocomplete="off" [formGroup]="form" [empNgSpinnerHost]="spinner">
  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <fieldset>
    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="4">{{procedureType}}</td>
      </tr>
      <tr>
        <td>Interesado:</td>
        <td colspan="3" style="width:100%">
          <input type="text" class="text-box uppercase" formControlName="name">
        </td>
      </tr>
      <tr>
        <td>
          <label>Correo electrónico:</label>
        </td>
        <td>
          <input type="text" class="text-box lowercase" style="width: 200px"
                 formControlName="email">
        </td>
        <td>
          <label>RFC facturación:</label>
        </td>
        <td>
          <input type="text" class="text-box uppercase" style="width: 200px"
                 maxlength="15" formControlName="rfc">
        </td>
      </tr>
      <tr *ngIf="!readonly">
        <td colspan="4" class="text-align-right" style='background-color:white;border-top: 1px solid #afafaf'>
          <button type="button" class="right"
                  [disabled]="!isReadyForSave" [class.btn]="!isReadyForSave" [class.btn-action]="isReadyForSave"
                  (click)="onSave()">{{requester ? 'Guardar cambios': 'Agregar el trámite'}}</button>
        </td>
      </tr>
    </table>
  </fieldset>

</form>
