<div class="explorer" fxLayoutGap="32px">

  <div [fxHide.lt-lg]="displayEditor || displayRecordingActEditor" class="primary">
    <emp-land-transaction-list
        [transactionList]="transactionList"
        [selectedTransaction]="selectedTransaction"
        [filter]="filter"
        [title]="currentView.title"
        [isLoading]="isLoading"
        (transactionListEvent)="onTransactionListEvent($event)">
    </emp-land-transaction-list>
  </div>


  <div *ngIf="displayEditor" class="secondary">
    <emp-land-transaction-tabbed-view
        [transaction]="selectedTransaction"
        (closeEvent)="onCloseEditor()">
    </emp-land-transaction-tabbed-view>
  </div>


  <div *ngIf="displayRecordingActEditor" class="secondary">
    <emp-land-recording-acts
        [transaction]="selectedTransaction"
        (closeEvent)="onCloseEditor()">
    </emp-land-recording-acts>
  </div>

</div>

<emp-ng-modal-window *ngIf="displayCreateTransactionEditor"
                     [config]="{width:'820px', height:'840px'}">

</emp-ng-modal-window>
