<emp-ng-spinner #spinner [visible]="isLoadingTransaction"></emp-ng-spinner>

<div class="explorer" fxLayoutGap="32px">

  <div class="primary"
       [fxHide]="displayFileViewer"
       [fxHide.lt-lg]="displayTransactionTabbedView || displayRecordingActEditor || displayFileViewer">
    <emp-land-transaction-list
        [transactionList]="transactionList"
        [selectedTransaction]="selectedTransaction"
        [filter]="filter"
        [title]="currentView?.title"
        [isLoading]="isLoading"
        (transactionListEvent)="onTransactionListEvent($event)">
    </emp-land-transaction-list>
  </div>

  <div *ngIf="displayFileViewer" class="primary">
    <emp-land-file-viewer [selectedFile]="selectedFile" (closeEvent)="onCloseFileViewer()">

    </emp-land-file-viewer>
  </div>


  <div *ngIf="displayTransactionTabbedView" [fxHide.lt-lg]="displayFileViewer" class="secondary">
    <emp-land-transaction-tabbed-view
        [transaction]="selectedTransaction"
        (closeEvent)="onCloseEditor()">
    </emp-land-transaction-tabbed-view>
  </div>


  <div *ngIf="displayRecordingActEditor" [fxHide.lt-lg]="displayFileViewer" class="secondary">
    <emp-land-recording-acts
        [transaction]="selectedTransaction"
        (closeEvent)="onCloseEditor()">
    </emp-land-recording-acts>
  </div>

</div>


<emp-ng-modal-window *ngIf="displayOptionModalSelected"
                     [config]="{width:'920px', maxHeight:'900px'}">

  <ng-container [ngSwitch]="displayOptionModalSelected">

    <emp-land-transaction-creator *ngSwitchCase="'CreateTransactionEditor'"
      (closeEvent)="onOptionModalClosed()">

    </emp-land-transaction-creator>

    <emp-land-workflow-commander *ngSwitchDefault
      [transactionList]="displayOptionModalSelected === 'ReceiveTransactions' ? [] : selectedTransactions"
      [canEditList]="displayOptionModalSelected !== 'ExecuteCommand'"
      (closeEvent)="onOptionModalClosed()">

    </emp-land-workflow-commander>

  </ng-container>

</emp-ng-modal-window>
