<emp-ng-card
  title='Cambio de estado'
  [hint]="transactions.length > 1 ?
         '¿Qué debo hacer con los ' + transactions.length + ' trámites seleccionados?' :
         '¿Qué debo hacer con el trámite seleccionado?'"
  (cardClose)="onClose()">

  <div style="padding: 0 16px 16px 16px !important;">

      <form [formGroup]="formHandler.form" autocomplete="off" class="form-section">

        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

          <div fxLayout="row" fxLayout.lt-md="column">

            <div [fxFlex]="100/3">
              <label>Operación:</label>
              <emp-ng-select [formControlName]="controls.operation"
                [bindValue]="'type'"
                [config]="{ clearable: false }"
                [items]="applicableOperationsList"
                [showError]="formHandler.showInvalidControl(controls.operation)"
                (changes)="operationChange($event)">
              </emp-ng-select>
            </div>

          </div>

          <ng-container *ngIf="operationSelected.type">

            <div class="section-title">Datos del nuevo estado</div>

            <div *ngIf="requiredNextStatusField || requiredNextUserField || requiredAuthorizationField"
              fxLayout="row" fxLayout.lt-md="column">

              <div *ngIf="requiredNextStatusField" [fxFlex]="100/3">
                <label>Nuevo estado:</label>
                <emp-ng-select [formControlName]="controls.nextStatus"
                  [bindValue]="'type'"
                  [config]="{ clearable: false }"
                  [items]="operationSelected.nextStatus"
                  [showError]="formHandler.showInvalidControl(controls.nextStatus)"
                  (changes)="statusChange($event)">
                </emp-ng-select>
              </div>
              <div *ngIf="requiredNextUserField" [fxFlex]="200/3">
                <label>{{labelNextUser}}</label>
                <emp-ng-select [formControlName]="controls.nextUser"
                  [config]="{ clearable: false }"
                  [items]="statusSelected.users"
                  [placeholder]="statusSelected.type === 'None' ? 'Seleccione el nuevo estado' : 'Seleccione'"
                  [showError]="formHandler.showInvalidControl(controls.nextUser)">
                </emp-ng-select>
              </div>
              <div *ngIf="requiredAuthorizationField" [fxFlex]="100/3">
                <label>Firma electrónica:</label>
                <input [formControlName]="controls.authorization" class="text-box"
                  type="password" autocomplete="new-password"
                  [class.invalid-control]="formHandler.showInvalidControl(controls.authorization)">
              </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Observaciones:</label>
                <textarea [formControlName]="controls.note" empNgTextareaAutoresize
                  rows="1" class="text-area">
                </textarea>
              </div>

            </div>

          </ng-container>

          <mat-divider class="divider-padding"></mat-divider>

          <div fxLayout="row">

            <div fxFlex fxLayoutAlign="end end">

              <button type="submit"
                [class.btn]="!formHandler.isValid"
                [class.btn-action]="formHandler.isValid"
                (click)="submitTransaction()">
                Ejecutar la operación
              </button>

            </div>

          </div>

        </div>

      </form>

  </div>

</emp-ng-card>
