<emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

<form [formGroup]="form" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50">
        <label>Folio real:</label>
        <div fxLayout="row">
          <input type="text" class="text-box uppercase" maxlength="19" [class.invalid-control]="isDirty && errorMsg"
            formControlName="propertyUID" fxFlex>
          <button type="button" *ngIf="!disabled" [class.btn]="!isDirty" [class.btn-action]="isDirty"
            (click)="onReadRealEstateData()" fxFlex="30" [style.marginTop.px]="2">Leer</button>
        </div>
        <div *ngIf="errorMsg" class='warning-text'>{{errorMsg}}</div>
      </div>

      <div fxFlex="50">
        <label>Clave catastral:</label>
        <input type="text" class="text-box" maxlength="31" disabled [value]="realEstate.cadastralKey">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50">
        <label>Distrito:</label>
        <input type="text" class="text-box" disabled [value]="realEstate.district.name">
      </div>

      <div fxFlex="50">
        <label>Municipio:</label>
        <input type="text" class="text-box" disabled [value]="realEstate.municipality.name">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50">
        <label>Tipo de predio:</label>
        <input type="text" class="text-box" disabled [value]="realEstate.realEstateType.name">
      </div>

      <div fxFlex="50">
        <label>Denominado:</label>
        <input type="text" class="text-box" disabled [value]="realEstate.name">
      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="100">
        <label>Ubicado en:</label>
        <textarea empNgTextareaAutoresize rows="1" class="text-area" disabled [value]="realEstate.location">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="100">
        <label>Medidas y colindancias:</label>
        <textarea empNgTextareaAutoresize rows="1" class="text-area" disabled [value]="realEstate.metesAndBounds">

        </textarea>
      </div>

    </div>

  </div>

</form>
