<emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

<table class="form-section" [empNgSpinnerHost]="spinner" [formGroup]="form">
  <tr>
    <td>Folio real:</td>
    <td>
      <input type="text" class="text-box uppercase" style="width:170px" maxlength="19"
             [class.invalid-control]="isDirty && errorMsg"
             formControlName="propertyUID">
      <button type="button" *ngIf="!disabled" [class.btn]="!isDirty" [class.btn-action]="isDirty"
              (click)="onReadRealEstateData()">Leer</button>
      <div *ngIf="errorMsg" class='warning-text'>{{errorMsg}}</div>
    </td>
    <td>Clave catastral:</td>
    <td>
      <input type="text" class="text-box" maxlength="31" disabled
             [value]="realEstate.cadastralKey">
    </td>
  </tr>
  <tr>
    <td>Distrito:</td>
    <td>
      <input type="text" class="text-box" style="width:170px" disabled [value]="realEstate.district.name">
    </td>
    <td>Municipio:</td>
    <td>
      <input type="text" class="text-box" disabled [value]="realEstate.municipality.name">
    </td>
  </tr>
  <tr>
    <td>Tipo de predio:</td>
    <td>
      <input type="text" class="text-box" style="width:170px" disabled [value]="realEstate.realEstateType.name">
    </td>
    <td>Denominado:</td>
    <td>
      <input type="text" class="text-box" disabled [value]="realEstate.name">
    </td>
  </tr>
  <tr>
    <td class="align-top">Ubicado en:</td>
    <td colspan="3">
      <textarea class="text-area" rows="2" disabled [value]="realEstate.location"></textarea>
    </td>
  </tr>
  <tr>
    <td class="align-top">Medidas y<br>colindancias:</td>
    <td colspan="3">
      <textarea class="text-area" rows="3" disabled [value]="realEstate.metesAndBounds"></textarea>
    </td>
  </tr>
</table>
