<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="rowIndex">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let row; let i = index;" [class.bold-text]="!row.isChild">
      {{row.number}}
    </td>
  </ng-container>

  <ng-container matColumnDef="issuedAndRequestedTime">
    <th mat-header-cell *matHeaderCellDef> Registrado el </th>
    <td mat-cell *matCellDef="let row" class="nowrap" [class.margin-left]="checkNestedEntries">
      R: {{ !row.recordingData.recordingTime ? '-' : row.recordingData.recordingTime | dateTimeFormat }}
      <br>
      P: {{ !row.recordingData.presentationTime ? '-' : row.recordingData.presentationTime | dateTimeFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="recordingAct">
    <th mat-header-cell *matHeaderCellDef class="nowrap"> Acto jurídico </th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="rowClickeable">{{row.name}}</span>
      <a *ngIf="!rowClickeable" class="link" (click)="onOpenRecordingActEditor(row)">
        {{ row.name }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="subjectChanges">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let row">
      {{ row.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="recordLink">
    <th mat-header-cell *matHeaderCellDef> Registrado en </th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="rowClickeable">{{ row.recordingData.description }}</span>
      <a *ngIf="!rowClickeable" class="link" (click)="onOpenBookEntry(row)">
        {{ row.recordingData.description }}
      </a>
      <br />
      <span class="bold-text">{{row.status}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let row" class="column-action">
      <mat-icon *ngIf="row.actions.canBeDeleted"
        (click)="onRemoveRecordingActClicked(row)"
        title="Eliminar este acto">
        delete
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [title]="row.uid === tractIndexEntryUID ? 'Acto jurídico seleccionado' : ''"
    [class.bold-text]="row.uid === tractIndexEntryUID"
    [class.nested]="checkNestedEntries"
    [class.parent]="checkNestedEntries && !row.isChild"
    [class.child]="checkNestedEntries && row.isChild"
    [class.selectable-row]="rowClickeable"
    [class.row-selected]="row.uid === tractIndexEntryUID"
    (click)="onTractIndexEntryClicked(row)"></tr>

</table>

<div class="text-not-found" *ngIf="dataSource?.data?.length === 0">
  No se encontraron registros.
</div>

<div class="text-not-found" *ngIf="dataSource?.data?.length > 0 && dataSource.filteredData?.length === 0">
  No se encontraron registros con el filtro proporcionado.
</div>
