<form #selectorForm="ngForm" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">

      <div fxFlex="20">

        <label>Distrito:</label>

        <emp-ng-select
          [(ngModel)]="recorderOfficeSelected" name="recorderOffice"
          [config]="{ bindByValue: false,
                      dropdownPosition: selectorPosition }"
          [items]="recorderOfficeList"
          [required]="fieldsRequired"
          [disabled]="hasRecorderOfficeDefault"
          [showError]="fieldsRequired && ( !recorderOfficeSelected || !recorderOfficeSelected.uid )"
          (changes)="onRecorderOfficeChange($event)">
        </emp-ng-select>

      </div>

      <div [fxFlex]="showRecordingBookEntryField ? 'calc(80% - 322px)': '351px'"
           [fxFlex.lt-sm]="showRecordingBookEntryField ? 'calc(80% - 322px)' : 'calc(80% - 126px)'">

        <label>Sección:</label>

        <emp-ng-select [(ngModel)]="recordingSectionSelected" name="recordingSection"
          [config]="{ bindByValue: false,
                      dropdownPosition: selectorPosition }"
          [items]="recordingSectionList"
          [required]="fieldsRequired"
          [disabled]="!recorderOfficeSelected"
          [placeholder]="!recorderOfficeSelected ? 'Seleccione el distrito' : 'Seleccione'"
          [showError]="fieldsRequired && ( !recordingSectionSelected || !recordingSectionSelected.uid )"
          (changes)="onRecordingSectionChange($event)">
        </emp-ng-select>

      </div>

      <div fxFlex="126px">

        <label>Volumen:</label>

        <emp-ng-select [(ngModel)]="recordingBookSelected" name="recordingBook"
          [config]="{ clearable: true,
                      bindByValue: false,
                      dropdownPosition: selectorPosition,
                      minTermLength: recordingBookMinTermLength }"
          [disabled]="!isReadyToFilterRecordingBook"
          [items]="recordingBookList$ | async"
          [typeahead]="recordingBookInput$"
          [loading]="recordingBookLoading"
          [placeholder]="isReadyToFilterRecordingBook ? 'Buscar' : 'Seleccione'"
          [required]="fieldsRequired"
          [showError]="fieldsRequired && ( !recordingBookSelected || !recordingBookSelected.uid )"
          (changes)="onRecordingBookChange($event)">

        </emp-ng-select>

      </div>

      <div fxFlex="126px" *ngIf="showRecordingBookEntryField">

        <label>Inscripción:</label>

        <emp-ng-select name="recordingBookEntry" *ngIf="!checkBookEntryInput"
          [(ngModel)]="recordingBookEntrySelected"
          [config]="{ clearable: true,
                      bindByValue: false,
                      dropdownPosition: selectorPosition }"
          bindLabel="recordingNo"
          [disabled]="!isReadyToFilterRecordingBook"
          [items]="recordingBookEntryList"
          [placeholder]="recordingBookEntryList.length === 0 ? 'Seleccione' : 'Seleccionar'"
          [required]="fieldsRequired"
          [showError]="fieldsRequired && ( !recordingBookEntrySelected || !recordingBookEntrySelected.uid )"
          (changes)="onBookEntryChange($event)">
        </emp-ng-select>

        <input *ngIf="checkBookEntryInput"
          [disabled]="!isReadyToFilterRecordingBook"
          type="text" class="text-box" name="recordingNo"
          [(ngModel)]="bookEntryNo" [required]="fieldsRequired"
          [class.invalid-control]="bookEntryNo === null || bookEntryNo === ''"
          (input)="onBookEntryNoFieldsChange()">

      </div>

      <emp-land-recording-views-buttons fxflex="70px" *ngIf="showRecordingBookEntryField"
        [style.marginTop.px]="16">

      </emp-land-recording-views-buttons>

    </div>

    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="showRecordingBookEntryField">

      <div fxFlex="252px">

        <mat-checkbox fxlayout="row"
          [(ngModel)]="checkBookEntryInput"
          [ngModelOptions]="{standalone: true}"
          (change)="onCheckBookEntryInputChanged()"
          style="display: block; margin-top: -3px;">
          Agregar inscripción
        </mat-checkbox>

      </div>

      <div fxFlex="70px"></div>

    </div>

    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="checkBookEntryInput">

      <div fxFlex="126px">
        <label>Fecha de presentación:</label>
        <emp-ng-datepicker name="presentationTime"
          [(ngModel)]="presentationTime"
          [disabled]="!isReadyToFilterRecordingBook"
          (valueChange)="onBookEntryNoFieldsChange()">

        </emp-ng-datepicker>
      </div>

      <div fxFlex="126px">
        <label>Fecha de registro:</label>
        <emp-ng-datepicker name="authorizationDate"
          [(ngModel)]="authorizationDate"
          [disabled]="!isReadyToFilterRecordingBook"
          [showError]="!authorizationDate"
          (valueChange)="onBookEntryNoFieldsChange()">

        </emp-ng-datepicker>
      </div>

      <div fxFlex="70px"></div>

    </div>

  </div>

</form>
