<emp-ng-spinner #spinner [visible]="isLoadingTransaction"></emp-ng-spinner>

<div class="explorer">

  <div class="primary"
    [class.hidden]="displayFileViewer"
    [class.md-hide]="displayTransactionTabbedView || displayFileViewer || displayRegistryEntryEditor">

    <emp-land-explorer
      [title]="currentView?.title"
      [explorerType]="landExplorerTypes.Transaction"
      [recorderOfficeList]="recorderOfficeList"
      [query]="query"
      [itemsList]="transactionList"
      [selectedItemUID]="selectedTransaction.uid ?? null"
      [canReceive]="canReceiveTransactions"
      [canCreate]="canCreateTransaction"
      [isLoading]="isLoading"
      [operationsList]="transactionsOperationList"
      (landExplorerEvent)="onTransactionExplorerEvent($event)">

    </emp-land-explorer>

  </div>


  <div *ngIf="displayFileViewer"
    class="primary-resizable primary-floating primary-resizable-disable-md"
    [class.md-hide]="displayRegistryEntryEditor"
    empNgResizable>

    <emp-land-file-viewer
      [fileViewerData]="selectedFileViewerData"
      [cardFloatingEffect]="true"
      (closeEvent)="onCloseFileViewer()">

    </emp-land-file-viewer>

  </div>


  <div *ngIf="displayTransactionTabbedView"
    class="secondary"
    [class.hidden]="displayRegistryEntryEditor"
    [class.md-hide]="displayRegistryEntryEditor || displayFileViewer">

    <emp-land-transaction-tabbed-view
        [transaction]="selectedTransaction"
        (closeEvent)="onCloseTransactionEditor()">

    </emp-land-transaction-tabbed-view>

  </div>


  <div *ngIf="displayRegistryEntryEditor"
    class="secondary">

    <emp-land-registry-entry-editor
      [data]="selectedRegistryEntryData"
      [cardFloatingEffect]="true"
      (registryEntryEditorEvent)="onRegistryEntryEditorEvent($event)">

    </emp-land-registry-entry-editor>

  </div>

</div>


<emp-ng-modal-window *ngIf="displayOptionModalSelected"
                     [config]="{width:'920px'}">

  <ng-container [ngSwitch]="displayOptionModalSelected">

    <emp-land-transaction-creator *ngSwitchCase="'CreateTransactionEditor'"
      (closeEvent)="onOptionModalClosed()">

    </emp-land-transaction-creator>

    <emp-land-workflow-commander *ngSwitchDefault
      [transactionList]="displayOptionModalSelected === 'ReceiveTransactions' ? [] : selectedTransactions"
      [canEditList]="displayOptionModalSelected !== 'ExecuteCommand'"
      (workflowCommanderEvent)="onOptionModalClosed()">

    </emp-land-workflow-commander>

  </ng-container>

</emp-ng-modal-window>
