<emp-ng-card [title]="this.transaction.requestedBy.name"
             [hint]="cardHint"
             (cardClose)="onClose()">

<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Información del trámite">
    <emp-land-transaction-editor>

    </emp-land-transaction-editor>
  </mat-tab>

  <mat-tab label="Preprocesamiento" *ngIf="transaction.actions.show.preprocessingTab">
    <emp-land-pre-registration
      [transactionUID]="transaction.uid">

    </emp-land-pre-registration>
  </mat-tab>

  <mat-tab label="Inscripción" *ngIf="transaction.actions.show.instrumentRecordingTab">
    <emp-land-registration
      [transactionUID]="transaction.uid">

    </emp-land-registration>
  </mat-tab>

  <mat-tab label="Emisión de certificados" *ngIf="transaction.actions.show.certificatesEmissionTab">
    <emp-land-certification
      [transactionUID]="transaction.uid"
      [recorderOffice]="transaction.filingOffice">

    </emp-land-certification>
  </mat-tab>

  <mat-tab label="Historia">
    <emp-land-workflow-history
      [transactionUID]="transaction.uid">

    </emp-land-workflow-history>
  </mat-tab>

</mat-tab-group>

</emp-ng-card>
