<div class="explorer">

  <div *ngIf="displayFileViewer"
    class="primary-resizable primary-resizable-disable-md"
    empNgResizable>

    <emp-land-file-viewer
      [fileViewerData]="selectedFileViewerData"
      (closeEvent)="onCloseFileViewer()">

    </emp-land-file-viewer>

  </div>

  <div class="primary"
    [class.hidden]="displayFileViewer && displayBookEntryEdition"
    [class.md-hide]="displayBookEntryEdition || displayFileViewer">

    <emp-land-recording-book-edition
      (recordingBookEditionEvent)="onRecordingBookEditionEvent($event)">

    </emp-land-recording-book-edition>

  </div>

  <div *ngIf="displayBookEntryEdition"
    class="secondary"
    [class.hidden]="displayRegistryEntryEditor"
    [class.md-hide]="displayRegistryEntryEditor || displayFileViewer">

    <emp-land-book-entry-edition #bookEntryEdition
      [recordingBookUID]="selectedBookEntry.recordingBookUID"
      [bookEntryUID]="selectedBookEntry.uid"
      [instrumentRecordingUID]="selectedBookEntry.instrumentRecording.uid"
      (bookEntryEditionEvent)="onBookEntryEditionEvent($event)">

    </emp-land-book-entry-edition>

  </div>

  <div *ngIf="displayRegistryEntryEditor"
    class="secondary">

    <emp-land-registry-entry-editor
      [data]="selectedRegistryEntryData"
      [cardFloatingEffect]="true"
      (registryEntryEditorEvent)="onRegistryEntryEditorEvent($event)">

    </emp-land-registry-entry-editor>

  </div>

</div>
