<form [formGroup]="formHandler.form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">

      <div [fxFlex]="widthFirstColumn">
        <label>Tipo de acto:</label>
        <emp-ng-select [formControlName]="controls.recordingActTypeGroup"
          [items]="recordingActTypeGroupList"
          [showError]="formHandler.showInvalidControl(controls.recordingActTypeGroup)"
          (changes)="onRecordingActTypeGroupChange($event)">
        </emp-ng-select>
      </div>

      <div fxFlex="calc(100% - {{widthFirstColumn}})">
        <label class="ellipsis">Acto jurídico a registrar:</label>
        <emp-ng-select [formControlName]="controls.recordingActType"
          [items]="recordingActTypeList"
          [placeholder]="recordingActTypeList.length === 0 ? 'Seleccione el tipo de acto' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.recordingActType)" [style.width.%]="100"
          (changes)="onRecordingActTypeChange($event)">
        </emp-ng-select>
      </div>

    </div>

    <div fxLayout="row">
      <div [fxFlex]="widthFirstColumn">
        <label>Sobre:</label>
        <emp-ng-select [formControlName]="controls.registrationCommand"
          [items]="registrationCommands"
          [placeholder]="registrationCommands.length === 0 ? 'Seleccione el acto jurídico a registrar' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.registrationCommand)"
          (changes)="onRegistrationCommandChange($event)">
        </emp-ng-select>
      </div>

      <ng-container *ngIf="registrationCommandRules.selectSubject">

        <div fxFlex="calc(100% - {{widthFirstColumn}})">
          <label class="ellipsis"> Buscar y seleccionar
            <ng-container *ngIf="isRealEstate"> el folio real del predio</ng-container>
            <ng-container *ngIf="isAssociation"> la asociación o sociedad</ng-container>
            <ng-container *ngIf="isNoProperty"> el documento</ng-container>
            <ng-container *ngIf="registrationCommandRules.newPartition">
              del cual se va a desprender la fracción</ng-container>:
          </label>

          <emp-land-recordable-subject-searcher
            [formControlName]="controls.recordableSubject"
            [type]="registrationCommandRules.subjectType"
            [showError]="formHandler.showInvalidControl(controls.recordableSubject)"
            [allWidth]="true"
            (changes)="onRecordableSubjectChange($event)">

          </emp-land-recordable-subject-searcher>

        </div>

      </ng-container>

      <ng-container *ngIf="registrationCommandRules.newPartition && !registrationCommandRules.selectSubject">

        <div fxFlex="calc(100% - {{widthFirstColumn}})">

          <ng-container *ngTemplateOutlet="newPartitionTemplate">

          </ng-container>

        </div>

      </ng-container>

    </div>


    <div fxLayout="row" *ngIf="registrationCommandRules.selectTargetAct">

      <div [fxFlexOffset]="widthFirstColumn" fxFlex="calc(100% - {{widthFirstColumn}})">

        <label class="ellipsis">Acto jurídico a cancelar o modificar:</label>

        <div fxLayout="row">

          <emp-ng-select fxFlex="calc(100% - 140px)"
            [formControlName]="controls.amendmentRecordingActUID"
            [items]="tractIndexSelected.entries"
            [config]="{clearable: true}"
            [placeholder]="formHandler.showInvalidControl(controls.recordableSubject) ?
              'Seleccione el folio real' : 'Seleccione'"
            [showError]="formHandler.showInvalidControl(controls.amendmentRecordingActUID)"
            bindValue="uid">

              <ng-template #labelTemplate let-item="item">
                {{item.description}}
                {{item.requestedTime ? ', ' + ( item.requestedTime | dateTimeFormat ) : ''}}
                {{item.officialDocument.documentID ? ', ' + item.officialDocument.documentID : ''}}
              </ng-template>

              <ng-template #optionTemplate let-item="item">
                {{item.description}}
                {{item.requestedTime ? ', ' + ( item.requestedTime | dateTimeFormat ) : ''}}
                {{item.officialDocument.documentID ? ', ' + item.officialDocument.documentID : ''}}
              </ng-template>

          </emp-ng-select>

          <emp-land-recording-views-buttons fxFlex="140px">

          </emp-land-recording-views-buttons>

        </div>

      </div>

    </div>


    <ng-container *ngIf="registrationCommandRules.selectBookEntry">

      <div class="section-title" *ngIf="!recordableSubjectUID">
        {{ registrationCommandRules.newPartition ?
          'Antecedente registral del predio del cual se va a desprender la fracción' :
          'Antecedente registral:' }}
      </div>

      <div class="section-title" *ngIf="recordableSubjectUID">
        Inscripción donde está registrado el acto jurídico que se desea agregar
      </div>

      <div fxlayout="row" >

        <emp-land-recording-book-selector fxFlex="calc(100% - 140px)"
          [recorderOffice]="recorderOffice"
          [showRecordingBookEntryField]="true"
          [bookEntryInput]="checkBookEntryInput"
          [fieldsRequired]="true"
          selectorPosition="top"
          (recordingBookSelectorEvent)="onRecordingBookSelectorEvent($event)">

        </emp-land-recording-book-selector>

        <div fxflex="140px">

          <mat-checkbox fxlayout="row"
            [(ngModel)]="checkBookEntryInput"
            [ngModelOptions]="{standalone: true}"
            (change)="onBookEntryCheckChanged()"
            style="display: block; margin-top: -3px;">
            Agregar inscripción
          </mat-checkbox>

          <emp-land-recording-views-buttons fxlayout="row">

          </emp-land-recording-views-buttons>

        </div>

      </div>

    </ng-container>

    <ng-container *ngIf="registrationCommandRules.newPartition && registrationCommandRules.selectSubject">

      <ng-container *ngTemplateOutlet="newPartitionTemplate">

      </ng-container>

    </ng-container>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="end">

        <button type="submit"
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid"
          (click)="submitRecordingAct()">
          Registrar el acto
        </button>

      </div>

    </div>

  </div>

  <ng-template #newPartitionTemplate>

    <div fxLayout="row">

      <div [fxFlex]="registrationCommandRules.selectSubject ? widthFirstColumn : '50'">

        <label class="ellipsis">Tipo de la nueva fracción:</label>

        <emp-ng-select [formControlName]="controls.partitionType"
          [config]="{bindByValue: false}"
          [bindLabel]="null"
          [items]="partitionKindList"
          [showError]="formHandler.showInvalidControl(controls.partitionType)">
        </emp-ng-select>

      </div>

      <div [fxFlex]="registrationCommandRules.selectSubject ? 'auto' : '50'">

        <label class="ellipsis">Número o identificador de la nueva fracción:</label>

        <input type="text" class="text-box" [formControlName]="controls.partitionNo"
          [class.invalid-control]="formHandler.showInvalidControl(controls.partitionNo)">

      </div>

      <div fxFlex="140px" fxFlex.lt-md="0" *ngIf="registrationCommandRules.selectSubject">

      </div>

    </div>

  </ng-template>

</form>
