<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">

      <div fxFlex="30" fxFlex.lt-md="100">

        <label>Tipo de acto jurídico:</label>

        <emp-ng-select formControlName="typeUID"
          [items]="recordingAct.actions.editionValues.recordingActTypes"
          [showError]="formHelper.isControlInvalid(form.controls.typeUID)">
        </emp-ng-select>

      </div>

      <div fxFlex="30" fxFlex.lt-md="100">

        <label>Clasificación del acto jurídico:</label>

        <emp-ng-select formControlName="kind"
          [config]="{ bindByValue: false }"
          [bindLabel]="null"
          [items]="recordingAct.actions.editionValues.kinds"
          [placeholder]="recordingAct.actions.editableFields.includes('Kinds') ?
            'Seleccionar': 'No aplica'"
          [showError]="formHelper.isControlInvalid(form.controls.kind)"
          [style.width.%]="100">
        </emp-ng-select>

      </div>

      <div fxFlex="40">

        <div fxLayout="row">

          <label fxFlex="100">Monto de la operación:</label>

        </div>

        <div fxLayout="row">

          <div fxFlex="50" fxFlex.lt-md="100">

            <input formControlName="operationAmount" empNgCurrency
              [empNgCurrencyCode]="getCurrencyCode()"
              [empNgCurrencyDisplaySymbol]="getCurrencyCode() !== '' ? 'symbol-narrow' : ''"
              type="text" class="text-box"
              [class.invalid-control]="formHelper.isControlInvalid(form.controls.operationAmount)">

          </div>

          <div fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="start end">

            <emp-ng-select formControlName="currencyUID"
              [items]="recordingAct.actions.editionValues.currencies"
              [placeholder]="recordingAct.actions.editableFields.includes('OperationAmount') ?
                'Seleccionar': 'No aplica'"
              [style.width.%]="100"
              [showError]="formHelper.isControlInvalid(form.controls.currencyUID)">
            </emp-ng-select>

          </div>

        </div>

      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>

        <label>Descripción o cláusulas del acto jurídico:</label>

        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>

      </div>

    </div>


    <div *ngIf="displayAmendedAct" class="list-selection-header slim">

      <div class="list-item slim">

        <div class="list-container">

          <div fxLayout="row" class="uppercase bold-text" [style.marginBottom.px]="8">
            Acto jurídico a modificar o cancelar:
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2rem" fxLayoutGap.lt-md="0.75rem">

            <div fxFlex="none">
              <div class="label nowrap">Acto jurídico:</div>
              <div class="nowrap">{{recordingAct.amendedAct.name}}</div>
            </div>

            <div fxFlex="none">
              <div class="label nowrap">Fecha de registro:</div>
              <div class="nowrap">
                {{!recordingAct.amendedAct.recordingData.recordingTime ? '-' :
                   recordingAct.amendedAct.recordingData.recordingTime | dateTimeFormat}}
              </div>
            </div>

            <div fxFlex="none">
              <div class="label nowrap">Fecha de presentación:</div>
              <div class="nowrap">
                {{!recordingAct.amendedAct.recordingData.recordingTime ? '-' :
                   recordingAct.amendedAct.recordingData.recordingTime | dateTimeFormat}}
              </div>
            </div>

            <div fxFlex>
              <div class="label">Descripción:</div>
              <div>{{recordingAct.amendedAct.description}}</div>
            </div>

            <emp-land-recording-views-buttons fxFlex="70px" fxFlex.lt-md="none"
              [recordingMedia]="recordingAct.amendedAct.recordingData.media">

            </emp-land-recording-views-buttons>

          </div>

        </div>

      </div>

    </div>


    <ng-container *ngIf="recordingAct.actions.isEditable">

      <mat-divider class="divider-padding" >

      </mat-divider>

      <div fxLayout="row">

        <div [fxFlex]="100/3" fxLayoutAlign="start">

          <button *ngIf="recordingAct.actions.isEditable && !readonly"
            (click)="enableEditor(!editionMode)"
            [ngClass]="editionMode ? 'btn' : 'btn-action'">
            {{ editionMode ? 'Descartar Cambios' : 'Editar Documento' }}
          </button>

        </div>

        <div [fxFlex]="100/3" fxLayoutAlign="center center">

          <span class="pr-1">{{editionMode ? 'Marcar como:' : 'Marcado como:'}}</span>

          <emp-ng-select
            formControlName="status"
            bindLabel="statusName"
            bindValue="status"
            [items]="statusList"
            [showError]="formHelper.isControlInvalid(form.controls.status)"
            [style.width.px]="125"
            (changes)="onStatusChanges()">
          </emp-ng-select>

        </div>

        <div fxFlex fxLayoutAlign="end">

          <button *ngIf="editionMode"
            (click)="onSubmitClicked()"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)">
            Guardar
          </button>

        </div>

      </div>

    </ng-container>

  </div>

</form>
