<form [formGroup]="formHandler.form" autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">

      <div fxFlex="270px">
        <label>Tipo de acto:</label>
        <emp-ng-select [formControlName]="controls.recordingActTypeGroup"
          [config]="{ clearable: false }"
          [items]="recordingActTypeGroupList"
          [showError]="formHandler.showInvalidControl(controls.recordingActTypeGroup)"
          (changes)="onRecordingActTypeGroupChange($event)">
        </emp-ng-select>
      </div>

      <div fxFlex>
        <label>Acto jurídico a registrar:</label>
        <emp-ng-select [formControlName]="controls.recordingActType"
          [config]="{ clearable: false }"
          [items]="recordingActTypeList"
          [placeholder]="recordingActTypeList.length === 0 ? 'Seleccione el tipo de acto' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.recordingActType)" [style.width.%]="100"
          (changes)="onRecordingActTypeChange($event)">
        </emp-ng-select>
      </div>

      <div fxFlex="150px" fxLayoutAlign="end end" style="padding-bottom: 2px;">
        <button type="submit" (click)="submitRecordingAct()" [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid" [style.width.px]="150">
          Registrar el acto
        </button>
      </div>

    </div>

    <div fxLayout="row">
      <div fxFlex="270px">
        <label>Sobre:</label>
        <emp-ng-select [formControlName]="controls.subjectCommand"
          [config]="{ clearable: false }"
          [items]="subjectCommandList"
          [placeholder]="subjectCommandList.length === 0 ? 'Seleccione el acto jurídico a registrar' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.subjectCommand)"
          (changes)="onSubjectCommandChange()">
        </emp-ng-select>
      </div>

      <ng-container *ngIf="showRealEstateField">
        <div fxFlex>
          <label>Buscar y seleccionar el folio real:</label>

          <emp-ng-select [formControlName]="controls.realEstate"
            [config]="{ hideSelected: true, minTermLength: realEstateMinTermLength }"
            [items]="realEstateList$ | async"
            [typeahead]="realEstateInput$"
            [loading]="realEstateLoading"
            [style.width.%]="100"
            [showError]="formHandler.showInvalidControl(controls.realEstate)">

          </emp-ng-select>
        </div>

        <div fxFlex="75px" fxLayoutAlign="end end" style="padding-bottom: 2px;">
          <button type="button" class="btn" [style.width.%]="100" [style.minWidth.px]="65">
            Ver
          </button>
        </div>

        <div fxFlex="75px" fxLayoutAlign="end end" style="padding-bottom: 2px;">
          <button type="button" class="btn" [style.width.%]="100" [style.minWidth.px]="65">
            Sello
          </button>
        </div>
      </ng-container>

    </div>


    <div fxLayout="row" *ngIf="showPartitionField">

      <div fxFlex="270px">

      </div>

      <div fxFlex="35" >
        <label>Tipo de la nueva fracción:</label>

        <emp-ng-select [formControlName]="controls.partitionType"
          bindValue="name"
          [config]="{ clearable: false }"
          [items]="realEstatePartitionKindList"
          [showError]="formHandler.showInvalidControl(controls.partitionType)">
        </emp-ng-select>
      </div>

      <div  fxFlex="35">
        <label>Número o identificador de la nueva fracción:</label>

        <input type="text" class="text-box" [formControlName]="controls.partitionNo"
          [class.invalid-control]="formHandler.showInvalidControl(controls.partitionNo)">
      </div>

    </div>

    <div fxLayout="row" *ngIf="showRealEstateField">

      <div fxFlex="270px">

      </div>

      <div fxFlex>
        <mat-checkbox [(ngModel)]="showSeeker" [ngModelOptions]="{standalone: true}">
          Mostrar el buscador de inscripciones y volúmenes
        </mat-checkbox>
      </div>

    </div>

    <emp-land-recording-book-selector *ngIf="showSeeker"
      [showRecordingBookEntryField]="true"
      (recordingBookSelectorEvent)="onRecordingBookSelectorEvent($event)">

    </emp-land-recording-book-selector>

  </div>

</form>
