<div class="tab-container mat-elevation-z1">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let row; let i = index;"> <strong>{{i + 1}}</strong> </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Acto jurídico </th>
      <td mat-cell *matCellDef="let row">
        <a class="link" (click)="onOpenRecordingActEditor(row)">
          {{ row.name }}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="electronicID">
      <th mat-header-cell *matHeaderCellDef> Folio electrónico </th>
      <td mat-cell *matCellDef="let row" [style.width.px]="170">
        <a class="link" (click)="onOpenRecordableSubjectTabbedView(row, false)">
          {{ row.recordableSubject.electronicID }}
        </a>
        <ng-container *ngIf="displayRelatedSubject(row.relatedSubject)">
          <br><br> <strong>Fracción de:</strong> <br>
          <a class="link" (click)="onOpenRecordableSubjectTabbedView(row, true)">
            {{ row.relatedSubject.electronicID }}
          </a>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="actionCopy">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">
        <mat-icon title="Copiar folio electrónico"
          matRipple [matRippleCentered]="true" [matRippleUnbounded]="true"
          [cdkCopyToClipboard]="row.recordableSubject.electronicID"
          (cdkCopyToClipboardCopied)="showAlertTextCopied($event)">
          bookmark
        </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let row">
        {{ !row.recordableSubject.kind ? '-' : row.recordableSubject.kind }}
        <ng-container *ngIf="displayLotSizeTotal(row.recordableSubject.type)">
          <span class="nowrap">
            <br><br> <strong>Superficie total:</strong> <br>
            {{ getLotSizeTotal(row.recordableSubject.lotSize, row.recordableSubject.lotSizeUnit) }}
          </span>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> Antecedente </th>
      <td mat-cell *matCellDef="let row"> {{ row.antecedent }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let row">
        {{ getRecordableObjectStatusName(row.recordableSubject.status) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">
        <mat-icon
          (click)="removeRecordingAct(row)"
          title="Remover este acto">
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="dataSource?.data.length === 0" class="text-not-found">
    <p>Todavía no se han registrado actos jurídicos en el documento.</p>
  </div>

</div>
