<form [formGroup]="formHandler.form" autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">

      <div [fxFlex]="widthFirstColumn">
        <label>Tipo de acto:</label>
        <emp-ng-select [formControlName]="controls.recordingActTypeGroup"
          [items]="recordingActTypeGroupList"
          [showError]="formHandler.showInvalidControl(controls.recordingActTypeGroup)"
          (changes)="onRecordingActTypeGroupChange($event)">
        </emp-ng-select>
      </div>

      <div fxFlex class="resizable-field-width">
        <label class="ellipsis">Acto jurídico a registrar:</label>
        <emp-ng-select [formControlName]="controls.recordingActType"
          [items]="recordingActTypeList"
          [placeholder]="recordingActTypeList.length === 0 ? 'Seleccione el tipo de acto' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.recordingActType)" [style.width.%]="100"
          (changes)="onRecordingActTypeChange($event)">
        </emp-ng-select>
      </div>

    </div>

    <div fxLayout="row">
      <div [fxFlex]="widthFirstColumn">
        <label>Sobre:</label>
        <emp-ng-select [formControlName]="controls.registrationCommand"
          [items]="registrationCommands"
          [placeholder]="registrationCommands.length === 0 ? 'Seleccione el acto jurídico a registrar' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.registrationCommand)"
          (changes)="onRegistrationCommandChange($event)">
        </emp-ng-select>
      </div>

      <ng-container *ngIf="registrationCommandRules.selectSubject">

        <div fxFlex class="resizable-field-width">
          <label class="ellipsis"> Buscar y seleccionar
            <ng-container *ngIf="isRealEstate"> el folio real del predio</ng-container>
            <ng-container *ngIf="isAssociation"> la asociación o sociedad</ng-container>
            <ng-container *ngIf="isNoProperty"> el documento</ng-container>
            <ng-container *ngIf="registrationCommandRules.newPartition">
              del cual se va a desprender la fracción</ng-container>:
          </label>
          <emp-ng-select [formControlName]="controls.recordableSubject"
            [config]="{ clearable: true,
                        hideSelected: true,
                        minTermLength: recordableSubjectMinTermLength,
                        dropdownPosition: 'top'  }"
            [items]="recordableSubjectList$ | async"
            [typeahead]="recordableSubjectInput$"
            [loading]="recordableSubjectLoading"
            placeholder="Buscar"
            [showError]="formHandler.showInvalidControl(controls.recordableSubject)"
            [style.width.%]="100"
            (changes)="onRecordableSubjectChange($event)">

            <ng-template #labelTemplate let-item="item">
              {{item.electronicID}} {{item.name ? ' | ' + item.name : ''}}
            </ng-template>

            <ng-template #optionTemplate let-item="item">
              {{item.electronicID}} {{item.name ? ' | ' + item.name : ''}}
            </ng-template>

          </emp-ng-select>
        </div>

        <div fxFlex="75px" fxLayoutAlign="end end" [style.paddingBottom.px]="2">
          <button type="button" class="btn" [style.width.%]="100" [style.minWidth.px]="65">
            Ver
          </button>
        </div>

        <div fxFlex="75px" fxLayoutAlign="end end" [style.paddingBottom.px]="2">
          <button type="button" class="btn" [style.width.%]="100" [style.minWidth.px]="65">
            Sello
          </button>
        </div>

      </ng-container>

    </div>


    <div fxLayout="row" *ngIf="registrationCommandRules.selectTargetAct">

      <div [fxFlexOffset]="widthFirstColumn" fxFlex class="resizable-field-width">

        <label class="ellipsis">Acto jurídico a cancelar o modificar:</label>

        <emp-ng-select [formControlName]="controls.amendmentRecordingActUID"
          [items]="tractIndexSelected.tractIndex"
          [config]="{clearable: true}"
          [placeholder]="formHandler.showInvalidControl(controls.recordableSubject) ?
            'Seleccione el folio real' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.amendmentRecordingActUID)"
          bindValue="recordingActUID">

            <ng-template #labelTemplate let-item="item">
              {{item.recordingActName}}
              {{item.presentationTime ? ', ' + ( item.presentationTime | dateTimeFormat ) : ''}}
              {{item.antecedent ? ', ' + item.antecedent : ''}}
            </ng-template>

            <ng-template #optionTemplate let-item="item">
              {{item.recordingActName}}
              {{item.presentationTime ? ', ' + ( item.presentationTime | dateTimeFormat ) : ''}}
              {{item.antecedent ? ', ' + item.antecedent : ''}}
            </ng-template>

        </emp-ng-select>

      </div>

      <div fxFlex="75px" fxLayoutAlign="end end" [style.paddingBottom.px]="2">
        <button type="button" class="btn" [style.width.%]="100" [style.minWidth.px]="65">
          Ver
        </button>
      </div>

      <div fxFlex="75px" fxLayoutAlign="end end" [style.paddingBottom.px]="2">
        <button type="button" class="btn" [style.width.%]="100" [style.minWidth.px]="65">
          Sello
        </button>
      </div>

    </div>


    <ng-container *ngIf="registrationCommandRules.selectBookEntry">

      <div class="section-title">
        {{ registrationCommandRules.newPartition ?
          'Antecedente registral del predio del cual se va a desprender la fracción' :
          'Antecedente registral:' }}
      </div>

      <div fxlayout="row" >

        <div fxFlex>

          <emp-land-recording-book-selector
            [showRecordingBookEntryField]="true"
            [bookEntryInput]="checkBookEntryInput"
            [fieldsRequired]="true"
            selectorPosition="top"
            (recordingBookSelectorEvent)="onRecordingBookSelectorEvent($event)">

          </emp-land-recording-book-selector>

        </div>

        <div fxflex="150px" [style.marginBottom.px]="1">

          <mat-checkbox [(ngModel)]="checkBookEntryInput" [ngModelOptions]="{standalone: true}"
            (change)="onBookEntryCheckChanged($event.checked)"
            style="display: block; padding-bottom: 4px; margin-top: -5px; padding-left: 15px;">
            Nueva inscripción
          </mat-checkbox>

          <button type="button" class="btn" [style.width.px]="75" [style.minWidth.px]="65">
            Ver
          </button>

          <button type="button" class="btn" [style.width.px]="75" [style.minWidth.px]="65">
            Sello
          </button>

        </div>

      </div>

    </ng-container>

    <div fxLayout="row" *ngIf="registrationCommandRules.newPartition">

      <div [fxFlex]="registrationCommandRules.selectBookEntry ? widthFirstColumn : '140px'"
        [fxFlexOffset]="registrationCommandRules.selectBookEntry ? '0' : widthFirstColumn">

        <label class="ellipsis">Tipo de la nueva fracción:</label>

        <emp-ng-select [formControlName]="controls.partitionType"
          bindValue="name"
          [items]="partitionKindList"
          [showError]="formHandler.showInvalidControl(controls.partitionType)">
        </emp-ng-select>

      </div>

      <div fxFlex="235px">

        <label class="ellipsis">Número o identificador de la nueva fracción:</label>

        <input type="text" class="text-box" [formControlName]="controls.partitionNo"
          [class.invalid-control]="formHandler.showInvalidControl(controls.partitionNo)">

      </div>

    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="end">

        <button type="submit"
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid"
          (click)="submitRecordingAct()">
          Registrar el acto
        </button>

      </div>

    </div>

  </div>

</form>
