<emp-ng-modal-window [config]="{width:'80%', height: '90%', maxWidth: '960px'}">

  <emp-ng-card
    [title]="title"
    [hint]="hint"
    (cardClose)="onClose()">

    <div class="fx-column-container-fill" [empNgSpinnerHost]="spinner"
      [style.padding]="'0 16px 16px 16px'">

      <emp-ng-spinner #spinner [visible]="submitted">

      </emp-ng-spinner>

      <div class="preview-container fx-item" *ngIf="certificate.mediaLink.url">

        <div class="object-preview-container">

          <object
            [data]="certificate.mediaLink.url | empSafeUrl"
            class="object-preview mat-elevation-z1"
            (error)="onMediaLinkError()">

          </object>

        </div>

      </div>

      <div *ngIf="!certificate.mediaLink.url || mediaLinkError"
        class="instruction-text fx-center fx-items-center"
        [style.width.%]="100" [style.height.%]="100">

        {{ mediaLinkError ?
           'Ocurrió un error al cargar el archivo.' :
           'No se encontro el archivo del certificado.'}}

      </div>

      <mat-divider [style.margin]="'8px 0'"></mat-divider>

      <div class="fx-item-none fx-end fx-items-center">

        <ng-container *ngIf="isHtmlMediaFile">

          <button class="btn"
            (click)="onPrintMediaClicked()">
            Imprimir
          </button>

          <mat-divider vertical="true" class="vertical" [style.margin]="'0 8px'">

          </mat-divider>

        </ng-container>

        <button class="btn-action" *ngIf="certificate.actions.canClose"
          (click)="onCloseCertificateClicked()">
          Cerrar certificado
        </button>

        <button class="btn-action" *ngIf="certificate.actions.canOpen"
          (click)="onOpenCertificateClicked()">
          Abrir certificado
        </button>

      </div>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
