<form [formGroup]="formHandler.form" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">

      <div [fxFlex]="100/3">
        <label>Tipo de certificado:</label>
        <emp-ng-select [formControlName]="controls.certificateType"
          [items]="certificateTypesList"
          [loading]="isLoading"
          [showError]="formHandler.showInvalidControl(controls.certificateType)"
          (changes)="onCertificateTypeChange($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="200/3">
        <label>Sobre:</label>
        <emp-ng-select [formControlName]="controls.registrationCommand"
          [items]="issuingCommandsList"
          [placeholder]="issuingCommandsList.length === 0 ? 'Seleccione el certificado a registrar' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.registrationCommand)"
          (changes)="onIssuingCommandChange($event)">
        </emp-ng-select>
      </div>

    </div>

    <div fxLayout="row" *ngIf="certificateRulesSelected.selectSubject">

        <div [fxFlex]="100/3"></div>

        <div [fxFlex]="200/3">
          <label class="ellipsis"> Buscar y seleccionar el folio real: </label>
          <emp-land-recordable-subject-searcher
            [formControlName]="controls.recordableSubject"
            [type]="certificateRulesSelected.subjectType"
            [showError]="formHandler.showInvalidControl(controls.recordableSubject)">

          </emp-land-recordable-subject-searcher>
        </div>

    </div>

    <ng-container *ngIf="certificateRulesSelected.selectBookEntry">

      <div class="section-title">
        Inscripción donde está registrado el predio
      </div>

      <div fxlayout="row">

        <emp-land-recording-book-selector fxFlex="100"
          [recorderOffice]="recorderOffice"
          [checkBookEntryInput]="checkBookEntryInput"
          selectorPosition="top"
          (recordingBookSelectorEvent)="onRecordingBookSelectorEvent($event)">

        </emp-land-recording-book-selector>

      </div>

    </ng-container>

    <div fxLayout="row" *ngIf="certificateRulesSelected.givePersonName">

      <div fxFlex="100">
        <label> Nombre completo de la persona: </label>
        <input [formControlName]="controls.personName"
          type="text" class="text-box"
          [class.invalid-control]="formHandler.showInvalidControl(controls.personName)">
      </div>

    </div>


    <div fxLayout="row" *ngIf="certificateRulesSelected.giveRealEstateDescription">

      <div fxFlex="100">
        <label> Descripción y datos del predio: </label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.realEstateDescription"
          [class.invalid-control]="formHandler.showInvalidControl(controls.realEstateDescription)">

        </textarea>
      </div>

    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="end">

        <button type="submit"
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid"
          (click)="onSubmitCertificate()">
          Agregar el certificado
        </button>

      </div>

    </div>

  </div>

</form>
