<emp-ng-card [title]="transaction.type.name + ': ' + transaction.transactionID"
             [hint]="'Presentado el: ' + ( transaction.presentationTime | dateTimeFormat )"
             (cardClose)="onClose()">

<mat-tab-group [selectedIndex]="selectedTabIndex">
  <mat-tab label="Información del trámite">
    <ng-template matTabContent>
      <emp-land-transaction-editor></emp-land-transaction-editor>
    </ng-template>
  </mat-tab>

  <mat-tab label="Digitalización" disabled>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="Inscripción">
    <ng-template matTabContent>
      <emp-land-instrument-edition [transactionUID]="transaction.uid"></emp-land-instrument-edition>
    </ng-template>
  </mat-tab>

  <mat-tab label="Emisión de certificados" disabled>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="Historia" disabled>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

</mat-tab-group>

</emp-ng-card>
