<emp-ng-card [title]="transaction.type.name + ': ' + transaction.transactionID"
             [hint]="transaction.presentationTime ?
                     'Presentado el: ' + ( transaction.presentationTime | dateTimeFormat ) :
                     ''"
             (cardClose)="onClose()">

<mat-tab-group [selectedIndex]="selectedTabIndex">
  <mat-tab label="Información del trámite">
    <ng-template matTabContent>
      <emp-land-transaction-editor>

      </emp-land-transaction-editor>
    </ng-template>
  </mat-tab>

  <mat-tab label="Preprocesamiento" *ngIf="transaction.actions.show.preprocessingTab">
    <ng-template matTabContent>
      <emp-land-preprocessing
        [transactionUID]="transaction.uid">

      </emp-land-preprocessing>
    </ng-template>
  </mat-tab>

  <mat-tab label="Inscripción" *ngIf="transaction.actions.show.instrumentRecordingTab">
    <ng-template matTabContent>
      <emp-land-instrument-edition
        [transactionUID]="transaction.uid"
        [canEdit]="transaction.actions.can.editInstrument">

      </emp-land-instrument-edition>
    </ng-template>
  </mat-tab>

  <mat-tab label="Emisión de certificados" *ngIf="transaction.actions.show.certificatesEmissionTab" disabled>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

  <mat-tab label="Historia" disabled>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>

</mat-tab-group>

</emp-ng-card>
