<div class="fx-column-container-fill">

  <ng-container *ngIf="!stampMediaError">

    <div class="fx-row-container fx-end" [style.paddingBottom.px]="8">

      <button class="btn" (click)="onPrintStamp()">
        Imprimir
      </button>

    </div>

    <div class="fx-item preview-container" *ngIf="displayStampMedia">

      <div class="object-preview-container">

        <object class="object-preview mat-elevation-z1"
          [data]="stampMedia.url | empSafeUrl"
          (error)="onStampMediaError()">

        </object>

      </div>

    </div>

  </ng-container>

  <div *ngIf="stampMediaError" class="text-not-found">
    Error al cargar el sello.
  </div>

</div>
