<div class="explorer fluid">

  <div class="primary">

    <div class="card card-border">

      <div class="card-header card-header-flat">

        <div class="card-title">
          Búsqueda de registros

          <div class="card-hint" empNgProgressText
            loadingText="Cargando"
            [finalText]="cardHint"
            [isLoading]="isLoading">
          </div>

        </div>

      </div>

      <div class="card-body">

        <div fxLayout="column" fxFlexFill [empNgSpinnerHost]="spinner">

          <emp-ng-spinner #spinner [visible]="isLoading" >

          </emp-ng-spinner>

          <emp-land-record-search-filter fxFlex="none"
            [query]="data.recordSearchQuery"
            (recordSearchFilterEvent)="onRecordSearchFilterEvent($event)">

          </emp-land-record-search-filter>

          <emp-land-record-search-list fxFlex
            [recordsList]="data.records"
            [recordSearchType]="data.recordSearchQuery.type"
            [queryExecuted]="data.queryExecuted"
            [isLoading]="isLoading"
            (recordSearchListEvent)="onRecordSearchListEvent($event)">

          </emp-land-record-search-list>

        </div>

      </div>

    </div>

  </div>

</div>

<emp-land-tract-index-explorer *ngIf="displayTractIndex"
  [tractIndex]="selectedTractIndex"
  (closeEvent)="onCloseTractIndexExplorer()">

</emp-land-tract-index-explorer>
