<div #RecordableSubjectType *ngIf="isSearchTypeByRecordableSubject"
  class="fx-row-container fx-gap-two-and-fifth sm-fx-gap"
  [style.padding]="'8px'">

  <ng-container [ngTemplateOutlet]="recordableSubjectSection">

  </ng-container>

  <ng-container [ngTemplateOutlet]="recordingSection">

  </ng-container>

  <ng-template [ngTemplateOutlet]="recordSection">

  </ng-template>

</div>


<div #PartyType *ngIf="isSearchTypeByParty"
  class="fx-column-container" [style.padding]="'8px'">

  <div class="fx-row-container" [style.paddingBottom]="'8px'">
    <span class="bold-text" [style.fontSize]="'10pt'">{{party.party.fullName}}</span>
  </div>

  <div class="fx-row-container fx-gap-two-and-fifth sm-fx-gap">

    <ng-container [ngTemplateOutlet]="partySection">

    </ng-container>

    <ng-container [ngTemplateOutlet]="recordableSubjectSection">

    </ng-container>

    <ng-template [ngTemplateOutlet]="recordSection">

    </ng-template>

  </div>

</div>


<ng-template #recordableSubjectSection>

  <div class="fx-item-half fx-column-container fx-space-between fx-gap-three-quarter">

    <emp-land-recordable-subject-view [style.height.%]="100"
      [recordableSubject]="item.recordableSubject"
      (recordableSubjectViewEvent)="onRecordableSubjectViewEvent($event)">

    </emp-land-recordable-subject-view>

  </div>

</ng-template>


<ng-template #recordingSection>

  <div class="fx-item-quarter fx-column-container fx-space-between fx-gap-three-quarter">

    <div class="fx-item-none">
      <div class="label nowrap">Último movimiento:</div>
      <div class="bold-text">-</div>
    </div>

    <div class="fx-item-none">
      <div class="label nowrap">Involucrados:</div>
      <div *ngFor="let related of relatedParties">- {{related.party.fullName}}</div>
      <div *ngIf="!relatedParties || relatedParties.length === 0" class="fx-row-container">-</div>
    </div>

  </div>

</ng-template>

<ng-template #recordSection>

  <div class="fx-item-quarter fx-column-container fx-space-between fx-gap-three-quarter">

    <div class="fx-column-container">
      <a class="link bold-text nowrap" (click)="onRecordClicked()">{{item.record.recordID}}</a>
      <span class="bold-text">{{item.record.instrument}}</span>
      {{!!item.record.bookEntry ? item.record.bookEntry : '-'}}
    </div>

    <div class="fx-column-container">
      <div class="fx-row-container fx-space-between">
        <span class="label nowrap">Fecha de registro:</span>
        <span class="bold-text">{{!!item.record.recordingTime ? (item.record.recordingTime | empDateTimeFormat) : '-'}}</span>
      </div>

      <div class="fx-row-container fx-end">
        {{item.record.recordedBy}}
      </div>
    </div>

    <div class="fx-row-container fx-space-beetween nowrap">
      <div class="fx-item fx-column-container">
        <span class="label nowrap">Trámite:</span>
        <a class="link bold-text" (click)="onTransactionClicked()">{{item.record.transaction.transactionID}}</a>
      </div>
      <div class="fx-item fx-column-container bold-text text-align-right">
        {{!!item.record.presentationTime ? ( item.record.presentationTime  | empDateTimeFormat ) : '-'}} <br>
        {{!!item.record.transaction.internalControlNo ? '(' + item.record.transaction.internalControlNo + ')' : '-'}}
      </div>
    </div>

  </div>

</ng-template>


<ng-template #partySection>

  <div class="fx-item-quarter fx-column-container fx-space-between fx-gap-three-quarter">

    <div class="fx-row-container bold-text">{{!!party.party.curp ? party.party.curp : '-' }}</div>

    <div class="fx-column-container">

      <div class="fx-row-container label nowrap">Acto y rol en el que participa:</div>

      <div class="fx-row-container nowrap fx-space-beetween">
        <div class="fx-column-container">
          <a class="bold-text">{{party.recordingActType}}</a>
        </div>
        <div class="fx-column-container text-align-right">
          ({{party.role}})
        </div>
      </div>

    </div>

    <div class="fx-column-container">

      <div class="fx-row-container label nowrap">Otros involucrados en el acto:</div>

      <div *ngFor="let related of relatedParties;"
        class="fx-row-container fx-space-between">
        <div class="fx-column-container">
          {{related.party.fullName}}
        </div>
        <div class="fx-column-container text-align-right nowrap">
          ({{related.role.name}})
        </div>
      </div>

      <div *ngIf="!relatedParties || relatedParties.length === 0" class="fx-row-container">-</div>

    </div>

  </div>

</ng-template>
