<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container">

        <div class="fx-item-quarter">

          <label>Oficialía:</label>

          <emp-ng-select name="recorderOfficeUID" required
            [(ngModel)]="formData.recorderOfficeUID"
            [items]="recorderOfficeList"
            [config]="{selectFirst: true}"
            [loading]="isLoading"
            [showError]="!formData.recorderOfficeUID"
            (changes)="onFilterChanges()">
          </emp-ng-select>

        </div>

        <div class="fx-item-quarter">

          <label>Buscar:</label>

          <emp-ng-select name="type" required
            [(ngModel)]="formData.type"
            [items]="recordSearchTypeList"
            [showError]="!formData.type"
            placeholder="Todos"
            (changes)="onFilterChanges()">
          </emp-ng-select>

        </div>

        <div class="fx-item-half fx-items-end">

          <div class="input-search-container">

            <input type="text" class="text-box" name="keywords" #keywords="ngModel" required
              placeholder="Buscar por folio, descripción, palabra ..."
              [(ngModel)]="formData.keywords"
              [class.invalid-control]="keywords.invalid"
              (keyup.enter)="onFilterChanges()"
              (keyup.escape)="onClearKeywords()"
              [style.marginRight]="0"
              [style.width.%]="100">

          </div>

        </div>

      </div>

  </div>

</form>
