<div class="fx-column-container-fill">

  <mat-divider>

  </mat-divider>

  <div #listContainer class="fx-item" style="overflow-y: auto;">

    <div *ngFor="let record of recordsList" class="list-item">

      <emp-land-record-search-list-item class="fx-item"
        [record]="record"
        [recordSearchType]="recordSearchType"
        (recordSearchListItemEvent)="onRecordSearchListItemEvent($event)">

      </emp-land-record-search-list-item>

    </div>


    <ng-container #textsContainer *ngIf="recordsList.length === 0">

      <div *ngIf="isLoading" class="text-not-found">
        Cargando...
      </div>

      <div class="text-not-found" *ngIf="!isLoading && recordsList.length === 0">
        {{queryExecuted ?
        'No se encontraron registros.' :
        'No se ha invocado la consulta.'}}
      </div>

    </ng-container>

  </div>

</div>
