<form autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div class="section-title">Documentos digitalizacions asociados al trámite</div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">
        <label>Instrumento:</label>
        <emp-ng-file-control
          (fileControlChange)="setInstrumentFile($event)"
          (fileControlEvent)="submitInstrumentFileEvent($event)"
          [config]="{textAccion: 'Agregar archivo PDF con el instrumento',
                     fileName: instrumentDescriptor,
                     fileTypes: 'pdf'}">

        </emp-ng-file-control>
      </div>

      <div fxFlex="50%">
        <label>Anexos:</label>
        <emp-ng-file-control
          (fileControlChange)="setInstrumentAnnexFile($event)"
          (fileControlEvent)="submitInstrumentAnnexFileEvent($event)"
          [config]="{textAccion: 'Agregar archivo PDF con el anexo',
                     fileName: 'Anexo de ' + firstLetterToLowerCase(instrumentDescriptor),
                     fileTypes: 'pdf'}">

        </emp-ng-file-control>

      </div>

    </div>

  </div>

</form>
