<emp-ng-card
  [title]="cardTitle"
  [hint]="cardHint"
  (cardClose)="onClose()">

  <div class="card-body-padding" [style.height.%]="98" [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

    <emp-land-instrument-editor
      [actions]="instrumentRecording.actions"
      [instrument]="instrumentRecording.instrument"
      [showStatusField]="true"
      title="Instrumento"
      (instrumentEditorEvent)="onInstrumentEditorEvent($event)">

    </emp-land-instrument-editor>

    <br>

    <emp-land-recording-acts-list
      [instrumentRecording]="instrumentRecording"
      [recordingActs]="recordingActs"
      [showCopyToClipboard]="true"
      title="Predios y actos jurídicos registrados en esta inscripción">

    </emp-land-recording-acts-list>

    <emp-ng-expansion-button [(panelState)]="panelAddState"
      [config]="{textButtonOpen: 'Agregar otro predio',
                 textButtonClose: 'Cancelar agregar registro'}">

    </emp-ng-expansion-button>

  </div>

</emp-ng-card>
