<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-row-container">

    <div class="fx-item-third">
      <label>Número de inscripción:</label>
      <input autocomplete="off" formControlName="recordingNo"
        type="text" class="text-box"
        [style.width.px]="100"
        [class.invalid-control]="form.controls.recordingNo.invalid">
    </div>

    <div class="fx-item-third sm-fx-item fx-row-container fx-space-between">
      <div class="fx-item-none">
        <label>Fecha de presentación:</label>
        <emp-ng-datepicker name="presentationTime" formControlName="presentationTime"
          [showError]="form.controls.presentationTime.invalid">

        </emp-ng-datepicker>
      </div>

      <div class="fx-item-none">
        <label>Fecha de registro:</label>
        <emp-ng-datepicker name="authorizationDate" formControlName="authorizationDate"
          [showError]="form.controls.authorizationDate.invalid">

        </emp-ng-datepicker>
      </div>
    </div>
  </div>

</form>

<mat-divider class="horizontal">

</mat-divider>

<emp-land-instrument-editor #instrumentEditor
  [actions]="actions"
  [instrument]="instrument"
  [title]="instrument.uid ? 'Instrumento' : ''"
  [showStatusField]="instrument.uid ? true : false"
  [submitButtonText]="instrument.uid ? 'Guardar los Cambios' : 'Agregar la inscripción a este volumen'"
  [addMode]="!instrument.uid"
  [defaultType]="defaultInstrumentType"
  (instrumentEditorEvent)="onInstrumentEditorEvent($event)">

</emp-land-instrument-editor>
