<emp-ng-card [title]="cardTitle" [hint]="cardHint" (cardClose)="onClose()">

  <div class="card-body-padding" [style.height.%]="100">

    <emp-land-book-entry-list
      [recordingBook]="recordingBook"
      (bookEntryListEvent)="onBookEntryListEvent($event)">

    </emp-land-book-entry-list>

    <emp-ng-expansion-button [(panelState)]="panelAddState"
      [config]="{textButtonOpen: 'Agregar una inscripción a este volumen',
                 textButtonClose: 'Cancelar agregar registro'}">

      <emp-land-book-entry-header *ngIf="panelAddState"
        (bookEntryHeaderEvent)="onBookEntryHeaderEvent($event)">

      </emp-land-book-entry-header>

    </emp-ng-expansion-button>

  </div>

</emp-ng-card>
