<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Registro por volumen

    <div class="card-hint" empNgProgressText
      loadingText="Cargando el volumen seleccionado"
      [finalText]="cardHint"
      [isLoading]="isLoading">
    </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>


      <emp-land-recording-book-selector class="fx-item-none list-selection-header"
        [showRecordingBookEntryField]="false"
        [fieldsRequired]="false"
        [style.marginBottom.px]="4"
        (recordingBookSelectorEvent)="onRecordingBookSelectorEvent($event)">

      </emp-land-recording-book-selector>


      <div class="fx-item" style="overflow-y: auto;">

        <emp-ng-expansion-button *ngIf="displayRecordingBookEdition"
          [(panelState)]="panelAddState"
          [config]="{textButtonOpen: 'Agregar una inscripción a este volumen',
                    textButtonClose: 'Cancelar agregar registro'}" class="no-margin">

          <emp-land-book-entry-editor *ngIf="panelAddState"
            (bookEntryEditorEvent)="onBookEntryEditorEvent($event)">

          </emp-land-book-entry-editor>

        </emp-ng-expansion-button>


        <emp-land-book-entry-list
          [recordingBook]="selectedRecordingBook"
          (bookEntryListEvent)="onBookEntryListEvent($event)">
        </emp-land-book-entry-list>

      </div>

    </div>

  </div>

</div>
