<form #selectorForm="ngForm" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">
      <div fxFlex="20">

        <label>Distrito:</label>

        <emp-ng-select
          [(ngModel)]="recorderOfficeSelected" name="recorderOffice"
          [config]="{ bindByValue: false, clearable: false }"
          [items]="recorderOfficeList"
          (changes)="onRecorderOfficeChange($event)">
        </emp-ng-select>

      </div>

      <div fxFlex="30">

        <label>Sección:</label>

        <emp-ng-select [(ngModel)]="recordingSectionSelected" name="recordingSection"
          [config]="{ bindByValue: false, clearable: false }"
          [items]="recordingSectionList"
          (changes)="onRecordingSectionChange($event)">
        </emp-ng-select>

      </div>

      <div fxFlex="25">

        <label>Volumen:</label>

        <div fxLayout="row">

          <emp-ng-select fxFlex [(ngModel)]="recordingBookSelected" name="recordingBook"
            [config]="{ bindByValue: false,
                        hideSelected: true,
                        minTermLength: recordingBookMinTermLength }"
            [disabled]="!isReadyToFilterRecordingBook"
            [items]="recordingBookList$ | async"
            [typeahead]="recordingBookInput$"
            [loading]="recordingBookLoading"
            [placeholder]="isReadyToFilterRecordingBook ? 'Buscar' : 'Seleccione'"
            (changes)="onRecordingBookChange($event)">

          </emp-ng-select>

          <div fxFlex="80px">
            <button *ngIf="showRecordingBookEntryField"
              type="button" class="btn" [style.marginTop.px]="2"
              (click)="onRecordingBookClicked()">
              Lista
            </button>
          </div>

        </div>

      </div>

      <div fxFlex="25" *ngIf="showRecordingBookEntryField">

        <label>Inscripción:</label>

        <div fxLayout="row">

          <emp-ng-select fxFlex [(ngModel)]="recordingBookEntrySelected" name="recordingBookEntry"
            [config]="{ bindByValue: false}"
            bindLabel="recordingNo"
            [disabled]="!isReadyToFilterRecordingBook"
            [items]="recordingBookEntryList"
            [placeholder]="recordingBookEntryList.length === 0 ? 'Seleccione' : 'Seleccionar'"
            (changes)="onBookEntryChange($event)">
          </emp-ng-select>

          <div fxFlex="80px">
            <button type="button" class="btn" [style.marginTop.px]="2"
              (click)="onRecordingBookEntryClicked()">
              {{recordingBookEntrySelected ? 'Ver' : 'Agregar'}}
            </button>
          </div>

        </div>

      </div>

    </div>

  </div>

</form>
