<form #selectorForm="ngForm" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayoutGap="0.75rem">

    <div fxLayout="row">
      <div fxFlex="20">

        <label>Distrito:</label>

        <emp-ng-select
          [(ngModel)]="recorderOfficeSelected" name="recorderOffice"
          [config]="{ bindByValue: false,
                      dropdownPosition: selectorPosition }"
          [items]="recorderOfficeList"
          [required]="fieldsRequired"
          [showError]="fieldsRequired && ( !recorderOfficeSelected || !recorderOfficeSelected.uid )"
          (changes)="onRecorderOfficeChange($event)">
        </emp-ng-select>

      </div>

      <div [style.width.%]="100" [style.max-width.px]="showRecordingBookEntryField ? 330 : 351">

        <label>Sección:</label>

        <emp-ng-select [(ngModel)]="recordingSectionSelected" name="recordingSection"
          [config]="{ bindByValue: false,
                      dropdownPosition: selectorPosition }"
          [items]="recordingSectionList"
          [required]="fieldsRequired"
          [showError]="fieldsRequired && ( !recordingSectionSelected || !recordingSectionSelected.uid )"
          [style.width.%]="100"
          (changes)="onRecordingSectionChange($event)">
        </emp-ng-select>

      </div>

      <div fxFlex="120px">

        <label>Volumen:</label>

        <emp-ng-select [(ngModel)]="recordingBookSelected" name="recordingBook"
          [config]="{ clearable: true,
                      bindByValue: false,
                      dropdownPosition: selectorPosition,
                      hideSelected: true,
                      minTermLength: recordingBookMinTermLength }"
          [disabled]="!isReadyToFilterRecordingBook"
          [items]="recordingBookList$ | async"
          [typeahead]="recordingBookInput$"
          [loading]="recordingBookLoading"
          [placeholder]="isReadyToFilterRecordingBook ? 'Buscar' : 'Seleccione'"
          [required]="fieldsRequired"
          [showError]="fieldsRequired && ( !recordingBookSelected || !recordingBookSelected.uid )"
          (changes)="onRecordingBookChange($event)">

        </emp-ng-select>

      </div>

      <div *ngIf="showRecordingBookButton" fxFlex="75px" fxLayoutAlign="end end" [style.marginBottom.px]="2"
        [style.marginLeft.px]="8">

        <button type="button" class="btn" fxFlex="75px"
          (click)="onRecordingBookClicked()">
          {{ recordingBookButtonText }}
        </button>

      </div>

      <div fxFlex="120px" >

        <ng-container *ngIf="showRecordingBookEntryField">

          <label>Inscripción:</label>

          <emp-ng-select name="recordingBookEntry" *ngIf="!bookEntryInput"
            [(ngModel)]="recordingBookEntrySelected"
            [config]="{ clearable: true,
                        bindByValue: false,
                        dropdownPosition: selectorPosition }"
            bindLabel="recordingNo"
            [disabled]="!isReadyToFilterRecordingBook"
            [items]="recordingBookEntryList"
            [placeholder]="recordingBookEntryList.length === 0 ? 'Seleccione' : 'Seleccionar'"
            [required]="fieldsRequired"
            [showError]="fieldsRequired && ( !recordingBookEntrySelected || !recordingBookEntrySelected.uid )"
            (changes)="onBookEntryChange($event)">
          </emp-ng-select>

          <input *ngIf="bookEntryInput"
            [disabled]="!isReadyToFilterRecordingBook"
            type="text" class="text-box" name="recordingNo"
            [(ngModel)]="bookEntryNo" [required]="fieldsRequired"
            [class.invalid-control]="bookEntryNo === null || bookEntryNo === ''"
            (input)="onBookEntryNoChange(bookEntryNo)">

        </ng-container>

      </div>

      <div *ngIf="showBookEntryButton" fxFlex="75px" fxLayoutAlign="end end" [style.marginBottom.px]="2"
        [style.marginLeft.px]="8">

        <button *ngIf="showBookEntryButton"
          type="button" class="btn" fxFlex="75px"
          (click)="onRecordingBookEntryClicked()">
          {{ bookEntryButtonText }}
        </button>

      </div>

    </div>

  </div>

</form>
