<form class="form-container" [class.submitted]="formHandler.submitted" autocomplete="off"
      [formGroup]="form" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="formHandler.isLoading"></emp-ng-spinner>

  <fieldset>

    <table class="form-section" *ngIf="!formHandler.readonly">
      <tr>
        <td>
          <button *ngIf="formHandler.canDelete" type="button" class="btn-warning"
                  (click)="formHandler.onDelete()">Eliminar</button>
        </td>
        <td class="text-align-right">

          <button *ngIf="formHandler.editionMode" type="submit" class="btn btn-margin-right"
                  [class.btn]="!formHandler.isReadyForSave"
                  [class.btn-action]="formHandler.isReadyForSave"
                  (click)="formHandler.onSubmit()">Guardar cambios</button>

          <button *ngIf="formHandler.canEdit" type="button" class="btn-action right"
                  (click)="formHandler.onEdit()">Editar</button>

          <button *ngIf="formHandler.editionMode" type="button" class="btn right"
                  (click)="formHandler.onCancel()">Cancelar edición</button>

        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="4">Solicitud de asignación de folio real</td>
      </tr>
      <tr>
        <td>Interesado:</td>
        <td colspan="3" style="width:100%">
          <input type="text" class="text-box uppercase" disabled [value]="request.requestedBy.name">
        </td>
      </tr>
    </table>

    <table class="form-section">
      <tr>
        <td class="form-section-title" colspan="5">Antecedente registral e información del predio</td>
      </tr>
      <tr>
        <td class="align-top">Distrito, libro, sección y partida</td>
        <td colspan="4">
          <textarea class="text-area uppercase" rows="3" formControlName="antecedent"></textarea>
        </td>
      </tr>
      <tr>
        <td class="align-top">Información del predio:</td>
        <td colspan="4">
          <textarea class="text-area uppercase" rows="3" formControlName="propertyDescription"></textarea>
        </td>
      </tr>
      <tr>
        <td class="form-section-title" colspan="5">Observaciones para el Registro Público</td>
      </tr>
      <tr>
        <td colspan="5">
          <textarea class="text-area uppercase" rows="3" formControlName="observations"></textarea>
        </td>
      </tr>
    </table>

  </fieldset>

  <div class="form-errors" *ngIf="formHandler.exceptionMsg">{{formHandler.exceptionMsg}}</div>

</form>
