<div class="fx-column-container fx-space-between fx-gap-half"
  [style.height.%]="100">

  <div class="fx-row-container fx-space-between fx-items-center">
    <div class="nowrap fx-start fx-items-center">
      <a class="link bold-text" (click)="onRecordableSubjectClicked()">
        {{recordableSubject.electronicID}}
      </a>

      <emp-ng-button-copy-to-clipboard  *ngIf="showCopyPaste"
        title="Copiar folio electrónico"
        itemToCopy="Folio electrónico"
        [textToCopy]="recordableSubject.electronicID"
        [style.marginLeft.px]="8">

      </emp-ng-button-copy-to-clipboard>

    </div>

    <div class="bold-text nowrap">
      <span>{{recordableSubject.kind}}</span>
      <ng-container *ngIf="!!realEstate.lot || !!realEstate.block || !!realEstate.section">
        &nbsp;&nbsp; | &nbsp;&nbsp;
        <span *ngIf="!!realEstate.lot">Lote: {{realEstate.lot}} &nbsp;</span>
        <span *ngIf="!!realEstate.block">Manzana: {{realEstate.block}} &nbsp;</span>
        <span *ngIf="!!realEstate.section">Sección: {{realEstate.section}} &nbsp;</span>
      </ng-container>
    </div>
  </div>

  <div class="fx-row-container" [style.white-space]="'normal'">
    <span class="fx-item">{{displayRealEstate ? recordableSubject.description : recordableSubject.name}}</span>
  </div>

  <div class="fx-row-container fx-space-between fx-items-center
              bold-text nowrap">
    {{recordableSubject.recorderOffice.name}}
    <a class="link" *ngIf="displayCadastralData" (click)="onCadastralClicked()">Catastro: {{realEstate.cadastralID}}</a>
  </div>

</div>
