<div class="fx-row-container">

  <emp-ng-select [ngModel]="recordableSubject"
    [config]="{ clearable: true,
                bindByValue: false,
                minTermLength: recordableSubjectMinTermLength,
                dropdownPosition: allWidth ? 'top' : 'auto'}"
    [items]="recordableSubjectList$ | async"
    [typeahead]="recordableSubjectInput$"
    [loading]="recordableSubjectLoading"
    [disabled]="disabled"
    [showError]="showError"
    [ngClass]="allWidth ? 'fx-item' : 'fx-item-third'"
    [style.width.%]="100"
    placeholder="Buscar"
    (ngModelChange)="selectRecordableSubject($event)">

    <ng-template #labelTemplate let-item="item">
      {{item.recordableSubject.electronicID}}
      <span *ngIf="!!item.recordableSubject.kind">&nbsp;&nbsp; | &nbsp;&nbsp; {{item.recordableSubject.kind}}</span>
      <span *ngIf="!!item.name">&nbsp;&nbsp; | &nbsp;&nbsp; {{item.name}}</span>
    </ng-template>

    <ng-template #optionTemplate let-item="item">

      <div class="searcher-item-container">

        <emp-land-recordable-subject-view
          [recordableSubject]="item.recordableSubject">

        </emp-land-recordable-subject-view>

        <mat-divider [style.marginTop.px]="8">

        </mat-divider>

      </div>


    </ng-template>

  </emp-ng-select>

</div>
