<form autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="section-title">Documentos digitalizados asociados al trámite</div>

    <div class="fx-row-container sm-fx-column-container">

      <div class="fx-item-half sm-fx-item">
        <label>Instrumento:</label>
        <emp-ng-file-control
          [fileControl]="mainFile"
          [readonly]="!canEdit || readonly"
          (fileControlEvent)="onFileControlEvent($event, 'InstrumentMainFile')"
          [config]="{textAccion: 'Agregar archivo PDF con el instrumento',
                     placeholderReadonly: 'No se ha agregado el archivo.',
                     filesTypes: ['pdf']}">

        </emp-ng-file-control>
      </div>

      <div class="fx-item-half sm-fx-item">
        <label>Anexos:</label>
        <emp-ng-file-control
          [fileControl]="auxiliaryFile"
          [readonly]="!canEdit || readonly"
          (fileControlEvent)="onFileControlEvent($event, 'InstrumentAuxiliaryFile')"
          [config]="{textAccion: 'Agregar archivo PDF con el anexo',
                     placeholderReadonly: 'No se ha agregado el archivo.',
                     filesTypes: ['pdf']}">

        </emp-ng-file-control>

      </div>

    </div>

  </div>

</form>

<br>
