<emp-land-transaction-header
  [transaction]="transaction"
  [transactionTypeList]="transactionTypeList"
  [agencyList]="agencyList"
  [recorderOfficeList]="recorderOfficeList"
  (transactionHeadertEvent)="onTransactionHeaderEvent($event)">

</emp-land-transaction-header>

<br>

<ng-container *ngIf="transaction.actions.show.paymentReceiptEditor">

  <emp-land-payment-receipt-editor
  [payment]="transaction.paymentOrder"
  [canEdit]="transaction.actions.can.editPaymentReceipt"
  (paymentReceiptEvent)="onPaymentReceiptEvent($event)">

  </emp-land-payment-receipt-editor>
  <br>

</ng-container>

<ng-container *ngIf="transaction.actions.show.serviceEditor">

  <emp-land-requested-service-list
    [requestedServices]="transaction.requestedServices"
    [canDelete]="transaction.actions.can.editServices"
    (requestedServiceListEvent)="onRequestedServiceListEvent($event)">

  </emp-land-requested-service-list>

  <div *ngIf="transaction.actions.can.editServices" class="tab-container">
    <mat-accordion hideToggle>
      <mat-expansion-panel
        [expanded]="panelAddServiceOpenState"
        (opened)="panelAddServiceOpenState = true"
        (closed)="panelAddServiceOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ panelAddServiceOpenState ? 'remove' : 'add' }}</mat-icon>
            <span style="padding-left: 1rem;">
              {{ panelAddServiceOpenState ? 'Cancelar agregar concepto' : 'Agregar concepto' }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <emp-land-requested-service-editor *ngIf="panelAddServiceOpenState"
          [providedServiceTypeList]="providedServiceTypeList"
          (requestedServiceEditorEvent)="onRequestedServiceEditorEvent($event)">

        </emp-land-requested-service-editor>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</ng-container>
