<form [formGroup]="form" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div class="section-title">Datos del interesado</div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Interesado:</label>
        <input formControlName="name"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="getFormControl('name').touched && getFormControl('name').errors">
      </div>
      <div [fxFlex]="100/3">
        <label>Correo electrónico:</label>
        <input formControlName="email"
          type="text"
          class="text-box lowercase"
          [class.invalid-control]="getFormControl('email').touched && getFormControl('email').errors">
      </div>
    </div>

    <div class="section-title">Información del trámite solicitado</div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Tipo de trámite:</label>
        <emp-ng-select formControlName="type"
          [config]="{ clearable: false }"
          [bindLabel]="'typeName'"
          [bindValue]="'type'"
          [items]="transactionTypesList"
          [showError]="getFormControl('type').touched && getFormControl('type').invalid"
          (changes)="transactionTypeChange($event)">
        </emp-ng-select>
      </div>
      <div fxFlex>
        <label>Tipo de documento:</label>
        <emp-ng-select formControlName="subtype"
          [bindValue]="'name'"
          [items]="instrumentSubtypesList">
        </emp-ng-select>
      </div>
      <div fxFlex>
        <label>No. Instrumento:</label>
        <input formControlName="instrumentNo"
          type="text"
          class="text-box uppercase">
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Tramitado por:</label>
        <emp-ng-select formControlName="agency"
          [bindValue]="'name'"
          [items]="[]">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/3">
        <label>Distrito:</label>
        <emp-ng-select formControlName="recorderOffice"
          [bindValue]="'name'"
          [items]="recorderOfficesList">
        </emp-ng-select>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end">
      <button *ngIf="!readonly" (click)="submit()" style="margin-right: 8px;"
        [class.btn]="form?.invalid"
        [class.btn-action]="form?.valid">
        {{transaction.uid == '' ? 'Crear la solicitud' : 'Guardar la solicitud'}}
      </button>
    </div>
  </div>
</form>
