<emp-land-transaction-header
  [transaction]="transaction"
  [transactionTypeList]="transactionTypeList"
  [agencyList]="agencyList"
  [filingOfficeList]="filingOfficeList"
  (transactionHeadertEvent)="onTransactionHeaderEvent($event)">

</emp-land-transaction-header>

<br>

<ng-container *ngIf="transaction.actions.show.paymentReceiptEditor || transaction.actions.can.submit">

  <emp-land-transaction-submitter
    [paymentOrder]="transaction.paymentOrder"
    [payment]="transaction.payment"
    [showPaymentReceiptEditor]="transaction.actions.show.paymentReceiptEditor"
    [canEdit]="transaction.actions.can.editPayment"
    [canCancel]="transaction.actions.can.cancelPayment"
    [canSubmit]="transaction.actions.can.submit"
    (transactionSubmittertEvent)="onTransactionSubmitterEvent($event)">

  </emp-land-transaction-submitter>
  <br>

</ng-container>

<ng-container *ngIf="transaction.actions.show.serviceEditor">

  <emp-land-requested-service-list
    [requestedServices]="transaction.requestedServices"
    [canDelete]="transaction.actions.can.editServices"
    (requestedServiceListEvent)="onRequestedServiceListEvent($event)">

  </emp-land-requested-service-list>

  <emp-ng-expansion-button *ngIf="transaction.actions.can.editServices"
    [(panelState)]="panelAddServiceOpenState"
    [config]="{textButtonOpen: 'Agregar concepto',
               textButtonClose: 'Cancelar agregar concepto'}">

    <emp-land-requested-service-editor *ngIf="panelAddServiceOpenState" [providedServiceTypeList]="providedServiceTypeList"
      (requestedServiceEditorEvent)="onRequestedServiceEditorEvent($event)">

    </emp-land-requested-service-editor>

  </emp-ng-expansion-button>

</ng-container>

<emp-ng-file-print-preview #filePrintPreview
  title="Impresión de orden de pago"
  [hint]="transaction.transactionID">

</emp-ng-file-print-preview>
