<emp-ng-card title='Nuevo trámite'
             hint='Registrar un nuevo trámite ante el RPP'
             (cardClose)="onClose()">

  <mat-horizontal-stepper linear #stepper labelPosition="bottom" color="accent">

    <mat-step [completed]="procedureSelected">
      <ng-template matStepLabel>Seleccionar el tipo de trámite</ng-template>

      <label>¿Qúe tipo de trámite se desea registrar?</label>

      <mat-radio-group class="radio-group" [(ngModel)]="procedureType">
        <mat-radio-button class="radio-button" value="AvisoPreventivo">Aviso preventivo</mat-radio-button>
        <mat-radio-button class="radio-button" value="SegundoAvisoDefinitivo">Segundo aviso definitivo</mat-radio-button>
        <mat-radio-button class="radio-button" value="InscripcionEscrituraPublica">Inscripción de escritura pública</mat-radio-button>
        <!-- <mat-radio-button class="radio-button" value="AvisoTestamentario">Aviso testamentario</mat-radio-button> -->
      </mat-radio-group>

      <div class="right">
        <button [class.btn]="!procedureSelected" [class.btn-action]="procedureSelected" [disabled]="!procedureSelected" matStepperNext>Siguiente</button>
      </div>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Datos del interesado</ng-template>
      <emp-one-requester-data
        [procedureType]="procedureType"
        (editRequester)="onRequesterDataChanged($event)">
      </emp-one-requester-data>
    </mat-step>

  </mat-horizontal-stepper>

</emp-ng-card>
