<emp-land-instrument-header
  [transactionUID]="transactionUID"
  [instrument]="instrument">

</emp-land-instrument-header>


<ng-container *ngIf="instrument.actions.show.physicalRecordings">

  <br>

  <emp-land-physical-recording-list
    [transactionUID]="transactionUID"
    [instrumentUID]="instrument.uid"
    [physicalRecordings]="instrument.registration.physicalRecordings"
    [showRegistrationStamps]="instrument.actions.show.registrationStamps"
    [canDelete]="instrument.actions.can.deletePhysicalRecordings">

  </emp-land-physical-recording-list>

  <emp-ng-expansion-button *ngIf="instrument.actions.can.createPhysicalRecordings"
    [(panelState)]="panelAddState"
    [config]="{textButtonOpen: 'Agregar registro del documento en libros',
               textButtonClose: 'Cancelar agregar registro'}">

    <emp-land-physical-recording-editor *ngIf="panelAddState"
      [transactionUID]="transactionUID"
      [instrumentUID]="instrument.uid">

    </emp-land-physical-recording-editor>

  </emp-ng-expansion-button>

</ng-container>


<ng-container *ngIf="false">

  <br>

  <emp-land-recording-acts-list
    [instrumentUID]="instrument.uid"
    [recordingActs]="[]"
    [canDelete]="true">

  </emp-land-recording-acts-list>

  <emp-ng-expansion-button *ngIf="false"
    [(panelState)]="panelAddState"
    [config]="{textButtonOpen: 'Agregar un acto jurídico al instrumento',
               textButtonClose: 'Cancelar agregar registro'}">

    <emp-land-recording-act-creator *ngIf="panelAddState"
      [instrumentUID]="instrument.uid">

    </emp-land-recording-act-creator>

  </emp-ng-expansion-button>

</ng-container>
