<emp-land-instrument-header
  [transactionUID]="transactionUID"
  [instrument]="instrument"
  [canEdit]="canEdit">

</emp-land-instrument-header>

<br>

<emp-land-physical-recording-list
  [physicalRecordings]="instrument.physicalRecordings"
  [canDelete]="true">

</emp-land-physical-recording-list>

<emp-ng-expansion-button [(panelState)]="panelAddPhysicalRecordingState"
  [config]="{textButtonOpen: 'Agregar registro del documento en libros',
             textButtonClose: 'Cancelar agregar registro'}">

  <emp-land-physical-recording-editor *ngIf="panelAddPhysicalRecordingState"
    [canEdit]="true">

  </emp-land-physical-recording-editor>

</emp-ng-expansion-button>
