<form [formGroup]="formHandler.form" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div class="section-title">Datos del interesado</div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>
        <label>Interesado:</label>
        <input [formControlName]="controls.name"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHandler.showInvalidControl(controls.name)">
      </div>

      <div [fxFlex]="100/3">
        <label>Correo electrónico:</label>
        <input [formControlName]="controls.email"
          type="text"
          class="text-box lowercase"
          [class.invalid-control]="formHandler.showInvalidControl(controls.email)">
      </div>

    </div>

    <div class="section-title">Información del trámite solicitado</div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Tipo de trámite:</label>
        <emp-ng-select [formControlName]="controls.type"
          [items]="transactionTypeList"
          [showError]="formHandler.showInvalidControl(controls.type)"
          (changes)="transactionTypeChange($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de documento:</label>
        <emp-ng-select [formControlName]="controls.subtype"
          [placeholder]="formHandler.getControl(controls.type).invalid ? 'Seleccione el tipo de trámite' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.subtype)"
          [items]="transactionSubtypeList">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>No. Instrumento:</label>
        <input [formControlName]="controls.instrumentNo"
          type="text"
          class="text-box uppercase">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>
        <label>Tramitado por:</label>
        <emp-ng-select [formControlName]="controls.agency"
          [config]="{clearable: true}"
          [showError]="formHandler.showInvalidControl(controls.agency)"
          [items]="agencyList">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Distrito:</label>
        <emp-ng-select [formControlName]="controls.filingOffice"
          [items]="filingOfficeList"
          [showError]="formHandler.showInvalidControl(controls.filingOffice)">
        </emp-ng-select>
      </div>

    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row" *ngIf="readonly && editionMode">

      <div fxFlex="25" fxLayoutAlign="start">
        <button (click)="submitClone()" type="button" class="btn-action">
          Crear una copia
        </button>
      </div>

      <div fxFlex="75" fxLayoutAlign="end">

        <button *ngIf="transaction.actions.can.printControlVoucher"
          type="submit" class="btn-action"
          (click)="submitPrintControlVoucher()">
          Boleta de control
        </button>

        <button *ngIf="transaction.actions.can.generatePaymentOrder"
          type="submit" class="btn-action"
          (click)="submitGeneratePaymentOrder()">
          Generar orden de pago
        </button>

        <button *ngIf="transaction.actions.can.editPayment && transaction.paymentOrder?.media.url"
           type="submit" class="btn-action"
           (click)="submitPrintPaymentOrder()">
          Orden de pago
        </button>

        <button *ngIf="transaction.actions.can.cancelPaymentOrder"
          type="submit" class="btn-warning"
          (click)="submitCancelPaymentOrder()">
          Cancelar orden de pago
        </button>

        <button *ngIf="transaction.actions.can.printSubmissionReceipt"
           type="submit" class="btn-action"
           (click)="submitPrintSubmissionReceipt()">
          Boleta de recepción
        </button>

        <ng-container *ngIf="transaction.actions.can.edit || transaction.actions.can.delete">

          <mat-divider vertical="true" class="vertical" [style.margin]="'0 8px 0 0'"
            *ngIf="transaction.actions.can.printControlVoucher || transaction.actions.can.generatePaymentOrder ||
                   (transaction.actions.can.editPayment && transaction.paymentOrder?.media.url) ||
                   transaction.actions.can.cancelPaymentOrder || transaction.actions.can.printSubmissionReceipt">

          </mat-divider>

          <button
            type="button" class="btn-action"
            (click)="toggleReadonly()">
            Editar
          </button>

        </ng-container>

      </div>

    </div>

    <div fxLayout="row" *ngIf="!readonly">

      <div fxFlex="25" fxLayoutAlign="start">

        <button *ngIf="editionMode && transaction.actions.can.delete"
           type="button" class="btn-warning"
           (click)="submitDelete()">
          Eliminar
        </button>

      </div>

      <div fxFlex="75" fxLayoutAlign="end">

        <button *ngIf="!editionMode || (editionMode && transaction.actions.can.edit)" type="submit"
          (click)="submit()"
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid">
          {{editionMode ? 'Guardar la solicitud' : 'Crear la solicitud'}}
        </button>

        <button *ngIf="editionMode"
          type="button" class="btn"
          (click)="discardChanges()">
          Descartar Cambios
        </button>

      </div>

    </div>

  </div>

</form>
