<form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div class="section-title">Datos del interesado</div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>
        <label>Interesado:</label>
        <input formControlName="name"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
      </div>

      <div [fxFlex]="100/3">
        <label>Correo electrónico:</label>
        <input formControlName="email"
          type="text"
          class="text-box lowercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.email)">
      </div>

    </div>

    <div class="section-title">Información del trámite solicitado</div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Tipo de trámite:</label>
        <emp-ng-select formControlName="type"
          [items]="transactionTypeList"
          [showError]="formHelper.isControlInvalid(form.controls.type)"
          (changes)="onTransactionTypeChange($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de documento:</label>
        <emp-ng-select formControlName="subtype"
          [placeholder]="form.controls.type.invalid ? 'Seleccione el tipo de trámite' : 'Seleccione'"
          [showError]="formHelper.isControlInvalid(form.controls.subtype)"
          [items]="transactionSubtypeList">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>No. Instrumento:</label>
        <input formControlName="instrumentNo"
          type="text"
          class="text-box uppercase">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>
        <label>Tramitado por:</label>
        <emp-ng-select formControlName="agency"
          [config]="{clearable: true}"
          [showError]="formHelper.isControlInvalid(form.controls.agency)"
          [items]="agencyList">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Distrito:</label>
        <emp-ng-select formControlName="filingOffice"
          [items]="filingOfficeList"
          [showError]="formHelper.isControlInvalid(form.controls.filingOffice)">
        </emp-ng-select>
      </div>

    </div>

    <div class="section-title">Datos de facturación</div>

     <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="200/3">
        <label>Nombre o razón social:</label>
        <input formControlName="billTo"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.billTo)"
          (change)="onBillingFieldsChange()">
      </div>

      <div [fxFlex]="100/3">
        <label>RFC:</label>
        <input formControlName="rfc"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.rfc)"
          (change)="onBillingFieldsChange()">
      </div>

    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row" *ngIf="isSaved && !editionMode">

      <div fxFlex="25" fxLayoutAlign="start">
        <button (click)="onCloneButtonClicked()" type="button" class="btn-action">
          Crear una copia
        </button>
      </div>

      <div fxFlex="75" fxLayoutAlign="end">

        <button *ngIf="transaction.actions.can.printControlVoucher"
          type="submit" class="btn-action"
          (click)="onPrintControlVoucherButtonClicked()">
          Boleta de control
        </button>

        <button *ngIf="transaction.actions.can.generatePaymentOrder"
          type="submit" class="btn-action"
          (click)="onGeneratePaymentOrderButtonClicked()">
          Generar orden de pago
        </button>

        <button *ngIf="transaction.actions.can.editPayment && transaction.paymentOrder?.media.url"
           type="submit" class="btn-action"
           (click)="onPrintPaymentOrderButtonClicked()">
          Orden de pago
        </button>

        <button *ngIf="transaction.actions.can.cancelPaymentOrder"
          type="submit" class="btn-warning"
          (click)="onCancelPaymentOrderButtonClicked()">
          Cancelar orden de pago
        </button>

        <button *ngIf="transaction.actions.can.printSubmissionReceipt"
           type="submit" class="btn-action"
           (click)="onPrintSubmissionReceiptButtonClicked()">
          Boleta de recepción
        </button>

        <ng-container *ngIf="transaction.actions.can.edit || transaction.actions.can.delete">

          <mat-divider vertical="true" class="vertical" [style.margin]="'0 8px 0 0'"
            *ngIf="transaction.actions.can.printControlVoucher || transaction.actions.can.generatePaymentOrder ||
                   (transaction.actions.can.editPayment && transaction.paymentOrder?.media.url) ||
                   transaction.actions.can.cancelPaymentOrder || transaction.actions.can.printSubmissionReceipt">

          </mat-divider>

          <button
            type="button" class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>

        </ng-container>

      </div>

    </div>

    <div fxLayout="row" *ngIf="editionMode">

      <div fxFlex="25" fxLayoutAlign="start">

        <button *ngIf="transaction.actions.can.delete"
           type="button" class="btn-warning"
           (click)="onDeleteButtonClicked()">
          Eliminar
        </button>

      </div>

      <div fxFlex="75" fxLayoutAlign="end">

        <button *ngIf="!isSaved || (isSaved && transaction.actions.can.edit)" type="submit"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitClicked()">
          {{isSaved ? 'Guardar la solicitud' : 'Crear la solicitud'}}
        </button>

        <button *ngIf="isSaved"
          type="button" class="btn"
          (click)="enableEditor(false)">
          Descartar Cambios
        </button>

      </div>

    </div>

  </div>

</form>
