<form [formGroup]="form" autocomplete="off" class="form-section" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div class="section-title">Datos del interesado</div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Interesado:</label>
        <input formControlName="name"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="getFormControl('name').touched && getFormControl('name').errors">
      </div>
      <div [fxFlex]="100/3">
        <label>Correo electrónico:</label>
        <input formControlName="email"
          type="text"
          class="text-box lowercase"
          [class.invalid-control]="getFormControl('email').touched && getFormControl('email').errors">
      </div>
    </div>

    <div class="section-title">Información del trámite solicitado</div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div [fxFlex]="100/3">
        <label>Tipo de trámite:</label>
        <emp-ng-select formControlName="type"
          [config]="{ clearable: false }"
          [items]="transactionTypeList"
          [showError]="getFormControl('type').touched && getFormControl('type').invalid"
          (changes)="transactionTypeChange($event)">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/3">
        <label>Tipo de documento:</label>
        <emp-ng-select formControlName="subtype"
          [config]="{ clearable: false }"
          [placeholder]="getFormControl('type').value === null ? 'Seleccione el tipo de trámite' : 'Seleccione'"
          [showError]="getFormControl('subtype').touched && getFormControl('subtype').invalid"
          [items]="transactionSubtypeList">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/3">
        <label>No. Instrumento:</label>
        <input formControlName="instrumentNo"
          type="text"
          class="text-box uppercase">
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Tramitado por:</label>
        <emp-ng-select formControlName="agency"
          [showError]="getFormControl('agency').touched && getFormControl('agency').invalid"
          [items]="agencyList">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/3">
        <label>Distrito:</label>
        <emp-ng-select formControlName="filingOffice"
          [config]="{ clearable: false }"
          [items]="filingOfficeList"
          [showError]="getFormControl('filingOffice').touched && getFormControl('filingOffice').invalid">
        </emp-ng-select>
      </div>
    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row" *ngIf="editionMode && readonly">

      <div fxFlex="25" fxLayoutAlign="start">
        <button (click)="submitClone()" type="button" class="btn-action">
          Crear una copia
        </button>
      </div>

      <div fxFlex="75" fxLayoutAlign="end">
        <button *ngIf="showEnableEditor" (click)="toggleReadonly()" type="button" class="btn-action">
          Editar
        </button>
        <button *ngIf="canPrintControlVoucher" (click)="submitPrintControlVoucher()" type="submit" class="btn-action">
          Boleta de control
        </button>
        <button *ngIf="canGeneratePaymentOrder" (click)="submitGeneratePaymentOrder()" type="submit" class="btn-action">
          Generar orden de pago
        </button>
        <button *ngIf="canPrintPaymentOrder" (click)="submitPrintPaymentOrder()" type="submit" class="btn-action">
          Orden de pago
        </button>
        <button *ngIf="canCancelPaymentOrder" (click)="submitCancelPaymentOrder()" type="submit" class="btn-warning">
          Cancelar orden de pago
        </button>
        <button *ngIf="canPrintSubmissionReceipt" (click)="submitPrintSubmissionReceipt()" type="submit" class="btn-action">
          Boleta de recepción
        </button>
      </div>

    </div>

    <div fxLayout="row" *ngIf="!readonly">

      <div fxFlex="25" fxLayoutAlign="start">
        <button *ngIf="canDelete" (click)="submitDelete()" type="button" class="btn-warning">
          Eliminar
        </button>
      </div>

      <div fxFlex="75" fxLayoutAlign="end">
        <button *ngIf="canSave" type="submit"
          (click)="submit()"
          [class.btn]="form?.invalid"
          [class.btn-action]="form?.valid">
          {{editionMode ? 'Guardar la solicitud' : 'Crear la solicitud'}}
        </button>

        <button *ngIf="editionMode" (click)="discardChanges()" type="button" class="btn">
          Descartar Cambios
        </button>
      </div>

    </div>

  </div>
</form>
