
<emp-ng-modal-window [config]="{width:'450px'}">

  <emp-ng-card
    [title]="title"
    [hint]="'Ingrese sus credenciales de firma electrónica.'"
    (cardClose)="onCloseClicked()">

    <div class="card-body-padding" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="submitted">

      </emp-ng-spinner>

      <emp-land-e-sign-form
        [buttonText]="operation.name"
        [exceptionMsg]="exceptionMsg"
        (eSignFormEvent)="onESignFormEvent($event)">

      </emp-land-e-sign-form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
