<form [formGroup]="form" empNgFormKeyDownEnter
  fxLayout="column" autocomplete="off" class="form-section">

  <mat-divider class="divider-padding">

  </mat-divider>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100">
        <label>{{ isPerson ? 'Nombre Completo:' : 'Nombre o razón social' }}</label>
        <input formControlName="fullName"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.fullName)">
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div *ngIf="isPerson" fxFlex="50">
        <label>CURP:</label>
        <input formControlName="curp"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.curp)">
      </div>

      <div fxFlex="50">
        <label>RFC:</label>
        <input formControlName="rfc"
          type="text"
          class="text-box uppercase"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.rfc)">
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100">
        <label>Otra información:</label>
        <textarea class="text-area uppercase" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="partyNotes">

        </textarea>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="40">
        <label>Participa como:</label>
        <emp-ng-select
          [config]="{groupBy: 'items'}"
          [placeholder]="'( Seleccionar rol )'"
          [items]="rolesList"
          [showError]="formHelper.isControlInvalid(form.controls.roleUID)"
          formControlName="roleUID"
          (changes)="onRoleChanges($event)">
        </emp-ng-select>
      </div>

      <ng-container [ngSwitch]="getRoleTypeSelected()">
        <ng-container *ngSwitchCase="'Primary'">
          <div fxFlex="40">
            <label>Sobre:</label>
            <emp-ng-select
              [items]="partUnits"
              [config]="{clearable: true}"
              [placeholder]="'( U de M )'"
              [showError]="formHelper.isControlInvalid(form.controls.partUnitUID)"
              formControlName="partUnitUID"
              (changes)="onPartUnitChanges($event)">
            </emp-ng-select>
          </div>

          <div fxFlex="20" *ngIf="isAmountRequired">
            <label>Cantidad:</label>
            <input formControlName="partAmount" *ngIf="!isPartAmountFraction"
              type="number"
              class="text-box"
              [class.invalid-control]="formHelper.isControlInvalid(form.controls.partAmount)">
            <input formControlName="partAmount" *ngIf="isPartAmountFraction"
              empNgFraction
              type="text"
              class="text-box"
              [class.invalid-control]="formHelper.isControlInvalid(form.controls.partAmount)">
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Secondary'">
          <div fxFlex="60">
            <label>De:</label>
            <emp-ng-select
              bindLabel="fullName"
              [placeholder]="'Seleccionar una persona u organización'"
              [items]="partiesInRecordingActList"
              [showError]="formHelper.isControlInvalid(form.controls.associatedWithUID)"
              formControlName="associatedWithUID">
            </emp-ng-select>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div fxFlex="60" fxLayoutAlign="center end">
            <p style="height: 28px;">Primero Seleccione un rol de la lista de la izquierda</p>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="notes">
        </textarea>
      </div>
    </div>
  </div>

  <mat-divider class="divider-padding">

  </mat-divider>

  <div fxLayout="row">

    <div fxFlex fxLayoutAlign="end">

      <button
        (click)="onSubmitClicked()"
        [class.btn]="!formHelper.isFormReady(form)"
        [class.btn-action]="formHelper.isFormReady(form)">
        Agregar
      </button>

    </div>

  </div>

</form>
