<div class="section-title"> Personas registradas </div>

<div class="tab-container scrollable-container mat-elevation-z1" style="max-height: 35%;">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let row">
        <strong>{{row.party.fullName}}</strong>
        <div class="grid-text-item" *ngFor="let group of secondaryPartiesGroupedByRoleList">
          <ng-container *ngIf="showRoleGroupByParty(group, row)">
            <div class="label pr-1">{{group.name}}: </div>
            <ng-container *ngFor="let party of group.parties">
              <ng-container *ngIf="row.party.uid === party.associatedWith.uid">
                <span>{{party.party.fullName}}</span>
                <a class="link pl-1" *ngIf="!readonly"
                  (click)="removeParty(party)">Remover</a>
                <br>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef> Identificación </th>
      <td mat-cell *matCellDef="let row" class="nowrap">
        <div *ngIf="row.party.curp !== ''">
          CURP: {{row.party.curp}}
        </div>
        <div *ngIf="row.party.rfc !== ''">
          RFC: {{row.party.rfc}}
        </div>
    </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Participa como </th>
      <td mat-cell *matCellDef="let row"> {{row.role?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="partAmount">
      <th mat-header-cell *matHeaderCellDef> Titularidad </th>
      <td mat-cell *matCellDef="let row" class="nowrap"> {{ getPartAmountText(row) }} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">
        <button mat-icon-button
          title="Remover Persona"
          (click)="removeParty(row)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div *ngIf="dataSource.data.length === 0" class="text-not-found">
    <p>No se han agregado personas u organizaciones.</p>
  </div>

</div>
