  <div fxLayout="row" fxLayout.lt-md="column">

    <div fxFlex="100" fxLayoutAlign="start center">

      <label fxFlex="60px">Buscar:</label>

      <emp-ng-select
        [config]="{bindByValue: false,
                   addTag: true,
                   addTagText: 'Agregar Persona'}"
        [bindLabel]="'fullName'"
        [bindValue]="null"
        [items]="partyList$ | async"
        [loading]="partyLoading"
        [typeahead]="partyInput$"
        [(ngModel)]="partySelected"
        (changes)="isNewParty($event) ?
          onNewPartySelectedChange($event) : onPartySelectedChange($event)"
        (clear)="onNewPartySelectedChange(null)"
        style="width: calc(100% - 220px);">

        <ng-template #optionTemplate ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <div class="ellipsis" style="padding: 0.25rem 0;">
            {{item.fullName}}
            <br>
            <div *ngIf="item.curp !== ''" style="font-size: 0.7rem;">
              CURP: {{item.curp}}
            </div>
            <div *ngIf="item.rfc !== ''" style="font-size: 0.7rem;">
              RFC: {{item.rfc}}
            </div>
          </div>
        </ng-template>

      </emp-ng-select>

      <emp-ng-select
        [config]="{bindByValue: false}"
        [items]="typesList"
        bindLabel="typeName"
        bindValue="type"
        [(ngModel)]="typeSelected"
        (changes)="onTypeSelectedChanged($event)"
        placeholder="( Todas )"
        fxFlex="160px">
      </emp-ng-select>

    </div>

  </div>
