<emp-ng-card
  [title]='titleText'
  [hint]="transactionList.length > 1 ?
         '¿Qué debo hacer con los ' + transactionList.length + ' trámites del paquete?' :
         '¿Qué debo hacer con el trámite seleccionado?'"
  (cardClose)="onCloseClicked()">

  <div class="card-body-padding">

    <emp-land-workflow-command-config
      [applicableCommandsList]="applicableCommandsList"
      (formData)="onWorkflowCommandConfigEvent($event)">

    </emp-land-workflow-command-config>

    <emp-land-list-selector *ngIf="formWorkflow.isValid" [canEdit]="canEditList"
      [itemsList]="transactionList"
      (listSelectorEvent)="onTransactionListSelectorEvent($event)">

    </emp-land-list-selector>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="end end" style="padding-right: 8px;">

        <button type="submit"
          [class.btn]="!formWorkflow.isValid || transactionList.length === 0"
          [class.btn-action]="formWorkflow.isValid && transactionList.length > 0"
          (click)="onSubmitButtonClicked()">
          Ejecutar la operación
        </button>

      </div>

    </div>

  </div>

</emp-ng-card>
