<form [formGroup]="formHandler.form" autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">
      <div [fxFlex]="100/4">
        <label>Tipo:</label>
        <emp-ng-select [formControlName]="controls.serviceType"
          [items]="providedServiceTypeList"
          [showError]="formHandler.showInvalidControl(controls.serviceType)"
          (changes)="serviceTypeChange($event)">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/2">
        <label>Concepto:</label>
        <emp-ng-select [formControlName]="controls.service"
          [items]="providedServiceList"
          [placeholder]="formHandler.getControl(controls.serviceType).invalid ? 'Seleccione el tipo de concepto' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.service)"
          (changes)="serviceChange($event)">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/4">
        <label>Fundamento:</label>
        <emp-ng-select [formControlName]="controls.feeConcept"
          [bindLabel]="'legalBasis'"
          [config]="{ autoSelect: true }"
          [items]="serviceSelected.feeConcepts"
          [placeholder]="formHandler.getControl(controls.service).invalid ? 'Seleccione el concepto' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.feeConcept)"
          (changes)="feeConceptChange($event)">
        </emp-ng-select>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div [fxFlex]="100/4">
        <label>Unidad:</label>
        <input [formControlName]="controls.unit"
          type="text"
          class="text-box"
          placeholder="Seleccione el concepto">
      </div>
      <div [fxFlex]="100/2">
        <div fxLayout="row">
          <div [fxFlex]="60" *ngIf="feeConceptSelected.requiresTaxableBase">
            <label>Base gravable:</label>
            <input [formControlName]="controls.taxableBase" empNgCurrency
              type="text"
              class="text-box"
              [class.invalid-control]="formHandler.showInvalidControl(controls.taxableBase)">
          </div>

          <div [fxFlex]="40">
            <label>Cantidad:</label>
            <input [formControlName]="controls.quantity" empNgInteger
              type="text"
              class="text-box"
              [class.invalid-control]="formHandler.showInvalidControl(controls.quantity)">
          </div>
        </div>

      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Observaciones:</label>
        <textarea [formControlName]="controls.notes" empNgTextareaAutoresize
          rows="1"
          class="text-area uppercase">
        </textarea>
      </div>
    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row">
      <div fxFlex fxLayoutAlign="end">
        <button (click)="submit()" type="submit"
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid">
          Agregar concepto
        </button>
      </div>

    </div>

  </div>
</form>
