<form [formGroup]="form" autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">
      <div [fxFlex]="100/4">
        <label>Tipo:</label>
        <emp-ng-select formControlName="serviceType"
          [config]="{ clearable: false }"
          [items]="providedServiceTypeList"
          [showError]="getFormControl('serviceType').touched &&
            getFormControl('serviceType').invalid"
          (changes)="serviceTypeChange($event)">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/2">
        <label>Concepto:</label>
        <emp-ng-select formControlName="service"
          [config]="{ clearable: false }"
          [items]="providedServiceList"
          [placeholder]="getFormControl('serviceType').value === null ? 'Seleccione el tipo de concepto' : 'Seleccione'"
          [showError]="getFormControl('service').touched &&
            getFormControl('service').invalid"
          (changes)="serviceChange($event)">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/4">
        <label>Fundamento:</label>
        <emp-ng-select formControlName="feeConcept"
          [bindLabel]="'legalBasis'"
          [config]="{ clearable: false, autoSelect: true }"
          [items]="serviceSelected.feeConcepts"
          [placeholder]="getFormControl('service').value === null ? 'Seleccione el concepto' : 'Seleccione'"
          [showError]="getFormControl('feeConcept').touched && getFormControl('feeConcept').invalid"
          (changes)="feeConceptChange($event)">
        </emp-ng-select>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div [fxFlex]="100/4">
        <label>Unidad:</label>
        <input formControlName="unit"
          type="text"
          class="text-box"
          placeholder="Seleccione el concepto">
      </div>
      <div [fxFlex]="100/2">
        <div fxLayout="row">
          <div [fxFlex]="60" *ngIf="feeConceptSelected.requiresTaxableBase">
            <label>Base gravable:</label>
            <input formControlName="taxableBase" empNgCurrency
              type="text"
              class="text-box"
              [class.invalid-control]="getFormControl('taxableBase').touched &&
                getFormControl('taxableBase').invalid">
          </div>

          <div [fxFlex]="40">
            <label>Cantidad:</label>
            <input formControlName="quantity" empNgInteger
              type="text"
              class="text-box"
              [class.invalid-control]="getFormControl('quantity').touched &&
                getFormControl('quantity').invalid">
          </div>
        </div>

      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
        <label>Observaciones:</label>
        <textarea formControlName="notes" empNgTextareaAutoresize
          rows="1"
          class="text-area uppercase">
        </textarea>
      </div>
    </div>

    <mat-divider class="divider-padding"></mat-divider>

    <div fxLayout="row">
      <div fxFlex fxLayoutAlign="end">
        <button (click)="submit()" type="submit"
          [class.btn]="form?.invalid"
          [class.btn-action]="form?.valid">
          Agregar concepto
        </button>
      </div>

    </div>

  </div>
</form>
