<emp-ng-select [ngModel]="recordableSubject"
  [config]="{ clearable: true,
              bindByValue: false,
              minTermLength: recordableSubjectMinTermLength,
              dropdownPosition: allWidth ? 'top' : 'auto'}"
  [items]="recordableSubjectList$ | async"
  [typeahead]="recordableSubjectInput$"
  [loading]="recordableSubjectLoading"
  [disabled]="disabled"
  [showError]="showError"
  [fxFlex]="allWidth ? 'calc(100% - 140px)' : 100/3"
  [style.width.%]="100"
  placeholder="Buscar"
  (ngModelChange)="selectRecordableSubject($event)">

  <ng-template #labelTemplate let-item="item">
    {{item.electronicID}} {{item.name ? ' | ' + item.name : ''}}
  </ng-template>

  <ng-template #optionTemplate let-item="item">
    {{item.electronicID}} {{item.name ? ' | ' + item.name : ''}}
  </ng-template>

</emp-ng-select>

<emp-land-recording-views-buttons>

</emp-land-recording-views-buttons>
