<table class="form-section">
  <tr>
    <td class="form-section-title" colspan="4">Información del trámite</td>
  </tr>
  <tr>
    <td>
      <label>Interesado:</label>
    </td>
    <td colspan="3">
      <input type="text" class="text-box" disabled [value]="request.requestedBy.name">
    </td>
  </tr>
  <tr>
    <td>
      <label>Correo electrónico:</label>
    </td>
    <td>
      <input type="text" class="text-box lowercase" style="width: 200px"
              disabled [value]="request.requestedBy.email">
    </td>
    <td>
      <label>RFC facturación:</label>
    </td>
    <td>
      <input type="text" class="text-box uppercase" style="width: 200px"
              disabled [value]="request.requestedBy.rfc">
    </td>
  </tr>
</table>


<table class="form-section">
  <tr *ngIf="!hasRouteNumber">
    <td colspan="2">
      <button type="submit" class="btn-action" (click)="onGeneratePaymentOrder()">Obtener la boleta de pago</button>
    </td>
  </tr>
</table>

<table class="form-section" *ngIf="hasRouteNumber">
  <tr>
    <td colspan="2">
      <a class="link" (click)="showExternalWindow(paymentOrderUrl)">Imprimir la boleta de pago</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>Número de recibo de pago:</label>
    </td>
    <td>
      <input type="text" class="text-box uppercase" style="width:200px"
             [(ngModel)]="request.paymentOrder.receiptNo">
      <button *ngIf="!submitted" type="submit" class="btn-action" (click)="onSavePaymentReceipt()">Guardar el recibo</button>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="white-space: normal;width:65%">
      Declaro que este trámite YA HA SIDO PAGADO en su totalidad mediante la línea de captura que aparece
      impresa en la boleta de pago.<br><br>
      Por lo anterior acepto que en caso de que el pago no haya sido efectuado en tiempo y forma,<br>
      es decir ANTES DE INGRESAR EL TRÁMITE, éste será cancelado y todos los registros<br>
      o certificados solicitados en el mismo quedarán<br>
      CANCELADOS Y SIN EFECTO JURÍDICO ALGUNO.<br><br>
      Así mismo, el Registro Público se reserva el derecho de emprender las acciones administrativas y
      jurídicas que correspondan.
    </td>
  </tr>
</table>

<table class="form-section" *ngIf="readyForSubmission">
  <tr>
    <td>
      <button type="submit" class="btn-action" (click)="onSubmitRequest()">Ingresar el trámite</button>
    </td>
  </tr>
</table>

<table class="form-section" *ngIf="submitted">
  <tr>
    <td>
      <label>Número de trámite:</label>
    </td>
    <td>
      <input type="text" class="text-box" [value]="request.transaction.uid" disabled style="width: 200px">
    </td>
  </tr>
  <tr>
    <td>
      <label>Estado del trámite:</label>
    </td>
    <td>
      <input type="text" class="text-box" style="width: 200px"
             disabled [value]="request.transaction.status">
    </td>
  </tr>
</table>

<table class="form-section" *ngIf="hasOutputDocuments">
  <tr>
    <td class="form-section-title" colspan="2">Documentos recibidos</td>
  </tr>
  <tr *ngFor="let document of request.outputDocuments">
    <td>
      <label>{{document.typeName}}:</label>
    </td>
    <td>
      <a class="link" (click)="showExternalWindow(document.uri)">Ver documento</a>
    </td>
  </tr>
</table>
