<form #form="ngForm" autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0" (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-sm="0.5rem">

      <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="25">

          <label>Tipo:</label>

          <emp-ng-select name="type"
            [(ngModel)]="formData.type"
            [items]="recordableSubjectTypeList"
            [config]="{clearable: true}"
            placeholder="Todos"
            (changes)="onTypeChanges()">
          </emp-ng-select>

        </div>

        <div fxFlex="25" fxLayoutAlign="start end">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords" #keywords="ngModel" required
            placeholder="Buscar folios..."
            [(ngModel)]="formData.keywords"
            [class.invalid-control]="keywords.invalid"
            (keyup.enter)="onFilterChanges()"
            (keyup.escape)="onClearKeywords()">

        </div>

      </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
