<emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

<form [formGroup]="formHandler.form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="255px" fxFlex.lt-md="none">
        <label>Folio real:</label>

        <div fxLayout="row">
          <input type="text" class="text-box" [fxFlex]="showElectronicHistoryButton ? '159px': '247px'"
            [formControlName]="controls.electronicID">
          <button type="button" class="btn" fxFlex="80px" *ngIf="showElectronicHistoryButton"
            [style.marginTop.px]="2" (click)="onElectronicHistoryClicked()">Historia</button>
        </div>
      </div>

      <div fxFlex="calc(100% - 255px)">

        <div fxFlex>
          <label>Clave catastral:</label>
          <input type="text" class="text-box" [formControlName]="controls.cadastralID"
            [class.invalid-control]="formHandler.showInvalidControl(controls.cadastralID)">
        </div>

        <div fxFlex="100px" fxFlex.lt-md="none">
          <label>Vinculado el:</label>
          <input type="text" class="text-box" [formControlName]="controls.cadastreLinkingDate">
        </div>

        <div fxFlex="none" fxFlex.lt-md="none" *ngIf="!readonly">
          <label>
            <a class="link" (click)="onCadastralCertificateClicked()">Cédula catastral:</a>
          </label>
          <button type="button" class="btn" disabled
            [style.marginTop.px]="2"
            (click)="onCadastralClicked()">
            {{realEstate.cadastralID ? 'Desvincular' : 'Vincular'}}
          </button>
        </div>

      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="255px" fxFlex.lt-md="none">
        <label>Distrito:</label>
        <emp-ng-select #districtControl [formControlName]="controls.recorderOfficeUID"
          [items]="recorderOfficeList"
          [showError]="formHandler.showInvalidControl(controls.recorderOfficeUID)"
          (changes)="onRecorderOfficeChange($event)">
        </emp-ng-select>
      </div>

      <div fxFlex="calc(100% - 255px)">
        <label>Municipio:</label>
        <emp-ng-select [formControlName]="controls.municipalityUID"
          [items]="municipalityList"
          [placeholder]="municipalityList.length === 0 ? 'Seleccione el distrito' : 'Seleccione'"
          [showError]="formHandler.showInvalidControl(controls.municipalityUID)">
        </emp-ng-select>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="255px" fxFlex.lt-md="none">
        <label>Tipo de predio:</label>
        <emp-ng-select [formControlName]="controls.kind"
          [bindValue]="'name'"
          [items]="realEstateKindList"
          [showError]="formHandler.showInvalidControl(controls.kind)">
        </emp-ng-select>
      </div>

      <div fxFlex="calc(100% - 255px)">

        <div [fxFlex]="50">
          <label class="ellipsis">Superficie total:</label>

          <div fxLayout="row">
            <input type="number" class="text-box" [formControlName]="controls.lotSize" fxFlex="50"
              [class.invalid-control]="formHandler.showInvalidControl(controls.lotSize)">

            <div fxFlex="50" fxFlex.lt-md="none">
              <emp-ng-select [formControlName]="controls.lotSizeUnitUID"
                [items]="lotSizeUnitList"
                [showError]="formHandler.showInvalidControl(controls.lotSizeUnitUID)"
                [style.width.%]="100">
              </emp-ng-select>
            </div>

          </div>
        </div>

        <div [fxFlex]="25">
          <label class="ellipsis">Superficie construida (m2):</label>
          <input type="number" class="text-box" [formControlName]="controls.buildingArea"
            [class.invalid-control]="formHandler.showInvalidControl(controls.buildingArea)">
        </div>

        <div [fxFlex]="25">
          <label class="ellipsis">Indiviso (%):</label>
          <input type="number" class="text-box" [formControlName]="controls.undividedPct"
            [class.invalid-control]="formHandler.showInvalidControl(controls.undividedPct)">
        </div>

      </div>


    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="100">
        <label>Descripción del predio (denominación y ubicación):</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.description"
          [class.invalid-control]="formHandler.showInvalidControl(controls.description)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="100">
        <label>Medidas y colindancias:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.metesAndBounds"
          [class.invalid-control]="formHandler.showInvalidControl(controls.metesAndBounds)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="start center">

        <button *ngIf="editionMode" (click)="enableEditor(false)" class="btn">
          Descartar Cambios
        </button>

      </div>

      <div fxFlex fxLayoutAlign="center center">

        <ng-container>

          <span class="pr-1">{{editionMode ? 'Marcar el predio como:' : 'Marcado como:'}}</span>

          <emp-ng-select
            [formControlName]="controls.status"
            bindLabel="statusName"
            bindValue="status"
            [items]="statusList"
            [showError]="formHandler.showInvalidControl(controls.status)"
            [style.width.px]="125"
            (changes)="onStatusChange($event)">
          </emp-ng-select>

        </ng-container>

      </div>

      <div fxFlex fxLayoutAlign="end center">

        <button *ngIf="!readonly && !editionMode"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <button *ngIf="editionMode"
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid"
          (click)="onSubmitForm()">
          Guardar
        </button>

      </div>

    </div>

  </div>

</form>
