<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px" fxLayoutGap.gt-xs="32px">

  <div fxFlex="35%">
    <div class="label">Tipo de trámite</div>
    <div class="primary-text nowrap"><strong>{{transaction.type}}</strong></div>
    <div>{{transaction.subtype}}</div>
  </div>

  <div fxFlex="30%">
    <div *ngIf="transaction?.transactionID">
      <div class="label">Trámite RPP</div>
      <div>
        <div class="primary-text nowrap"><strong>{{transaction?.transactionID}}</strong></div>
        <div>{{transaction?.presentationTime | dateTimeFormat}}</div>
      </div>
    </div>
  </div>

  <div fxFlex="30%">
    <div class="label">Lo tiene:</div>
    <div class="primary-text nowrap"><strong>{{transaction.assignedToName}}</strong></div>
    <div>{{transaction.statusName}}</div>
  </div>

  <div fxFlex="30px">
    <div class="primary-text nowrap">

      <emp-ng-menu [items]="[{'name': 'Agregar Personas'}]"
        (selected)="onClickTransactionOptions($event)">

      </emp-ng-menu>

    </div>
  </div>

</div>
