<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px" fxLayoutGap.gt-xs="32px">

  <div fxFlex="35">
    <div class="label">Tipo de trámite</div>
    <div class="primary-text nowrap"><strong>{{transaction.type}}</strong></div>
    <div>{{transaction.subtype}}</div>
  </div>

  <div fxFlex="30%">
    <div *ngIf="transaction?.transactionID">
      <div class="label">Trámite RPP</div>
      <div>
        <div class="primary-text nowrap"><strong>{{transaction?.transactionID}}</strong></div>
        <div>{{transaction?.presentationTime | dateTimeFormat}}</div>
      </div>
    </div>
  </div>

  <div fxFlex="30%">
    <div class="label">Estado:</div>
    <div class="primary-text nowrap"><strong>{{transaction.statusName}}</strong></div>
  </div>

  <div fxFlex="5%">
    <div class="primary-text nowrap">
      <mat-icon (click)="onClickTransactionOptions()">more_vert</mat-icon>
    </div>
  </div>

</div>
