<div class="card card-border">

  <div class="card-header card-header-flat">

    <!-- <div *ngIf="transactionList.length > 0"
      style="margin: auto; padding: 0 20px 0 4px;">
      <emp-ng-check-box-all
        [(selection)]="selection"
        [values]="transactionList">
      </emp-ng-check-box-all>
    </div> -->

    <div class="card-title">
      {{title}}
      <div class="card-hint" empNgProgressText
           loadingText="Cargando trámites"
           [finalText]="selection.hasValue() ?
              selection.selected.length + ' de ' + transactionList.length + ' trámites seleccionados':
              transactionList.length + ' trámites encontrados'"
           [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">
        <div style="width:32px"></div>

        <button class="btn" (click)="onClickReceiveTransactionsOptions()">Recibir</button>

        <div style="width: 0.75rem;"></div>

        <button class="btn-action" (click)="onClickCreateTransaction()">Nuevo</button>

        <div style="width: 0.75rem;"></div>

        <input type="search" class="text-box" style="min-width:240px" fxHide.lt-sm="true"
               placeholder="Buscar trámites"
               (search)="onChangeFilter()" [(ngModel)]="keywords">

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">
    <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

    <div [@expandCollapse] *ngIf="selection.hasValue()">
      <div class="list-selection-header" fxLayoutAlign="start center">
        <span fxFlex="29%">¿Qué debo hacer con
          <span *ngIf="selection.selected.length === 1">el trámite?</span>
          <span *ngIf="selection.selected.length > 1">los {{selection.selected.length}} trámites?</span>
        </span>
        <button class="btn-action" (click)="onClickTransactionsSelectedOptions()">
          Cambiar estado
        </button>
      </div>
    </div>

    <div *ngFor="let transaction of transactionList"
          class="list-item" [class.list-item-selected]="isSelected(transaction)"
          matRipple [matRippleTrigger]="trigger" matRippleColor="rgb(44, 57, 66, 0.05)">

      <!-- <div class="list-item-checkbox">
        <mat-checkbox
          [checked]="selection.isSelected(transaction)"
          (click)="$event.stopPropagation()"
          (change)="selection.isSelected(transaction) ?
                    selection.deselect(transaction) :
                    selection.select(transaction)">
        </mat-checkbox>
      </div> -->

      <div class="list-item-container">

        <div class="list-item-name">
          <strong>
            <a #trigger (click)="onSelectTransaction(transaction)">{{transaction.requestedBy}}</a>
          </strong>
        </div>

        <emp-land-transaction-list-item
          [transaction]="transaction"
          (optionsClick)="onClickTransactionOptions(transaction)">
        </emp-land-transaction-list-item>

      </div>

    </div>

  </div>

</div>
