<div class="fx-row-container fx-space-between fx-items-center fx-gap-half">

  <ng-container *empNgHasPermission="createPermission">

    <button *ngIf="displayReceiveButton"
      class="btn"
      (click)="onReceiveOptionsClicked()">Paquetes</button>

    <mat-divider *ngIf="displayReceiveButton && displayCreateButton"
      vertical="true"
      class="vertical-slim">

    </mat-divider>


    <button *ngIf="displayCreateButton"
      class="btn-action"
      (click)="onCreateClicked()">Nuevo</button>

  </ng-container>


  <emp-ng-select
    [(ngModel)]="recorderOffice" name="recorderOffice"
    [items]="recorderOfficeList"
    [required]="true"
    [showError]="!recorderOffice"
    [style.width.px]="170"
    [style.min-width.px]="170"
    placeholder="Seleccione la oficialía"
    (changes)="onFilterChanged()">
  </emp-ng-select>


  <emp-ng-select *ngIf="displayExplorerTypeSelect"
    [(ngModel)]="explorerType" name="explorerType"
    [config]="{ selectFirst: true }"
    [items]="explorerTypesList"
    [required]="true"
    [showError]="!explorerType"
    [style.width.px]="118"
    [style.min-width.px]="118"
    (changes)="onFilterChanged()">
  </emp-ng-select>


  <emp-ng-select *ngIf="displayStatusSelect"
    [(ngModel)]="status" name="status"
    [config]="{ selectFirst: true }"
    [items]="statusList"
    [required]="true"
    [showError]="!status"
    [style.width.px]="110"
    [style.min-width.px]="110"
    (changes)="onFilterChanged()">
  </emp-ng-select>


  <input type="search" class="text-box sm-hide"
    [(ngModel)]="keywords"
    placeholder="Buscar trámites"
    [style.width.px]="180"
    [style.min-width.px]="180"
    (search)="onFilterChanged()">

</div>
