<div class="fx-item" [@empExpandCollapse] *ngIf="itemsSelected.length > 0">

  <div class="list-selection-header fx-row-container fx-items-center">

    <span class="fx-item-none">¿Qué debo hacer con
      <span *ngIf="itemsSelected.length === 1">el {{itemsType}}?</span>
      <span *ngIf="itemsSelected.length > 1">los {{itemsSelected.length}} {{itemsType}}s?</span>
    </span>

    <div class="fx-item-size" style="--size: 180px;">

      <emp-ng-select name="operation"
        [config]="{bindByValue: false, selectFirst: true}"
        [(ngModel)]="operationSelected"
        [items]="operationsList">
      </emp-ng-select>

    </div>

    <div class="fx-item-none">

      <button class="btn" (click)="onExecuteOperationClicked()">
        Ejecutar
      </button>

    </div>

  </div>

</div>
