<div class="card card-border">

  <div class="card-header card-header-flat">

    <div *ngIf="itemsList.length > 0"
         style="margin: auto; padding: 0 20px 0 4px;">

      <emp-ng-check-box-all
        [(selection)]="selection"
        [values]="itemsList">
      </emp-ng-check-box-all>

    </div>

    <div class="card-title">

      <div [innerHTML]="title"></div>

      <div class="card-hint" empNgProgressText
        [loadingText]="'Cargando ' +  itemsTypeName"
        [finalText]="selection.hasValue() ?
          selection.selected.length + ' de ' + itemsList.length + ' ' +itemsTypeName + ' seleccionados':
          itemsList.length + ' ' + itemsTypeName + ' encontrados'"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <emp-land-list-actions
        [query]="query"
        [recorderOfficeList]="recorderOfficeList"
        [explorerTypesList]="explorerTypesList"
        [statusList]="statusList"
        [displayExplorerTypeSelect]="canSelectExplorerType"
        [displayStatusSelect]="canSelectStatus"
        [displayReceiveButton]="canReceive"
        [displayCreateButton]="canCreate"
        (listActionsEvent)="onListActionsEvent($event)">

      </emp-land-list-actions>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-land-list-controls
        [itemsSelected]="selection.selected ?? []"
        [operationsList]="operationsList"
        (listControlsEvent)="onListControlsEvent($event)">

      </emp-land-list-controls>

      <emp-land-list
        [explorerType]="explorerType"
        [itemsType]="itemsTypeName"
        [itemsList]="itemsList"
        [selectedItemUID]="selectedItemUID ?? null"
        [selection]="selection"
        [isLoading]="isLoading"
        (listEvent)="onListEvent($event)">

      </emp-land-list>

    </div>

  </div>

</div>
