<div class="explorer" fxLayoutGap="32px">

  <div [fxHide.lt-lg]="displayEditor || displayEditorRecordingAct" class="primary">
    <emp-one-request-list
        [requestList]="requestList"
        [selectedRequest]="selectedRequest"
        [filter]="filter"
        [title]="currentView.title"
        [isLoading]="isLoading"
        (requestListEvent)="onRequestListEvent($event)">
    </emp-one-request-list>
  </div>

  <div *ngIf="displayEditor" class="secondary">
    <emp-one-request-tabbed-view
        [request]="selectedRequest"
        (closeEvent)="onCloseEditor()">
    </emp-one-request-tabbed-view >
  </div>

  <div *ngIf="displayEditorRecordingAct" class="secondary">
    <emp-recording-acts 
        [request]="selectedRequest"
        (closeEvent)="onCloseEditorRecordingAct()">
    </emp-recording-acts>
  </div>

</div>

<emp-ng-modal-window *ngIf="displayRequestCreator"
                     [config]="{width:'820px', height:'840px'}">
  <emp-one-request-creator
    (closeEvent)="onRequestCreatorClosed()">
  </emp-one-request-creator>
</emp-ng-modal-window>
