<emp-ng-modal-window [config]="{width:'95%', height: '90%'}">

  <emp-ng-card
    [title]="title"
    [hint]="hint"
    [showCardHeaderFlat]="true"
    (cardClose)="onClose()">

    <div class="fx-row-container-fill">

      <emp-land-tract-index-entries-viewer
        class="fx-item-size sm-fx-item-half" style="--size: 800px"
        [tractIndex]="tractIndex"
        [selectedTractIndexEntry]="selectedTractIndexEntry"
        (tractIndexEntriesViewerEvent)="onTractIndexEntriesViewerEvent($event)">

      </emp-land-tract-index-entries-viewer>


      <div class="fx-item sm-fx-item-half small-overflow-auto" [style.overflow]="'auto'"
        [empNgSpinnerHost]="spinner">

        <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

         <div class="explorer fluid" [style.minWidth.px]="700">

          <div class="primary"
            [class.margin-auto]="!displayTractIndexEntry"
            [style.padding]="'4px'">

            <emp-land-tract-index-entry-tabbed-view *ngIf="displayTractIndexEntry"
              [tractIndexEntry]="selectedTractIndexEntry"
              (closeEvent)="onCloseTractIndexEntryTabbed()">

            </emp-land-tract-index-entry-tabbed-view>

            <div *ngIf="!displayTractIndexEntry" class="text-not-found">
              Seleccione el elemento a explorar.
            </div>

          </div>

         </div>

      </div>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
