<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container">

        <div class="fx-item-half">

          <label>Tipo:</label>

          <emp-ng-select name="entryType"
            [(ngModel)]="formData.entryType"
            [items]="tractIndexEntryTypeList"
            [config]="{clearable: true}"
            placeholder="Todos"
            (changes)="onFilterChanges()">
          </emp-ng-select>

        </div>

        <div class="fx-item-half fx-items-end">

          <div class="input-search-container">

            <input type="text" class="text-box" name="keywords" #keywords="ngModel"
              placeholder="Buscar..."
              [(ngModel)]="formData.keywords"
              [style.width.%]="hasNestedEntries ? null : 100"
              (keyup.enter)="onFilterChanges()"
              (keyup.escape)="onClearKeywords()">

          </div>

        </div>

        <div class="fx-item-none fx-items-end" *ngIf="hasNestedEntries"
          [style.paddingBottom.px]="6">

          <mat-checkbox
            [(ngModel)]="formData.checkNestedEntries"
            [ngModelOptions]="{standalone: true}"
            (click)="$event.stopPropagation"
            (change)="onFilterChanges()">
            Anidar actos modificados
          </mat-checkbox>

        </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
