<div class="fx-column-container-fill" [style.padding]="'8px 8px 0 8px'">

  <emp-land-tract-index-entries-filter class="fx-item-none"
    [tractIndexEntryType]="tractIndexEntryType"
    [hasNestedEntries]="hasNestedEntries"
    (tractIndexEntriesFilterEvent)="onTractIndexEntriesFilterEvent($event)">

  </emp-land-tract-index-entries-filter>

  <emp-land-tract-index-entries-history class="fx-item"
    [tractIndexEntriesList]="tractIndex.entries"
    [filter]="filter"
    [selectedTractIndexEntry]="selectedTractIndexEntry"
    (tractIndexEntriesHistoryEvent)="onTractIndexEntriesHistoryEvent($event)">

  </emp-land-tract-index-entries-history>

</div>
