<div #tableContainer fxFlex="100" class="fill-table-container">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="rowIndex">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let row; let i = index;"> <strong>{{i + 1}}</strong> </td>
    </ng-container>

    <ng-container matColumnDef="issuedAndRequestedTime">
      <th mat-header-cell *matHeaderCellDef> Registrado el </th>
      <td mat-cell *matCellDef="let row" class="nowrap">
        R: {{ row.recordingData.recordingTime | dateTimeFormat }}
        <br>
        P: {{ row.recordingData.presentationTime | dateTimeFormat }}
      </td>
    </ng-container>

    <ng-container matColumnDef="recordingAct">
      <th mat-header-cell *matHeaderCellDef> Acto jurídico </th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="subjectChanges">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let row">
        {{ row.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="recordLink">
      <th mat-header-cell *matHeaderCellDef> Registrado en </th>
      <td mat-cell *matCellDef="let row">
        {{ row.recordingData.description }}
        <br />
        <b>{{row.status}}</b>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="selectable-row"
      [class.row-selected]="row.uid === selectedTractIndexEntry.uid"
      (click)="onTractIndexEntryClicked(row)"></tr>

  </table>

  <div class="text-not-found" *ngIf="dataSource?.data?.length === 0">
    No se encontraron registros.
  </div>

  <div class="text-not-found" *ngIf="dataSource?.data?.length > 0 && dataSource.filteredData?.length === 0">
    No se encontraron registros con el filtro proporcionado.
  </div>

</div>
