<form [formGroup]="form" autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Registrar en:</label>
        <emp-ng-select formControlName="recorderOffice"
          [items]="recorderOfficeList"
          [showError]="formHelper.isControlInvalid(form.controls.recorderOffice)"
          (changes)="onRecorderOfficeChange($event)">
        </emp-ng-select>
      </div>
      <div [fxFlex]="100/3">
        <label>Sección/Libro:</label>
        <emp-ng-select formControlName="recordingSection"
          [items]="recordingSectionList"
          [showError]="formHelper.isControlInvalid(form.controls.recordingSection)">
        </emp-ng-select>
      </div>

      <div fxFlex fxLayoutAlign="end end" style="padding-bottom: 2px;">

        <button type="submit"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitClicked()">
          Registrar
        </button>

      </div>

    </div>

  </div>

</form>
