<form [formGroup]="form" autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-three-quarter sm-fx-item-none">

    <div class="fx-row-container sm-fx-column-container">

      <div class="fx-item-third">
        <label>Registrar en:</label>
        <emp-ng-select formControlName="recorderOffice"
          [items]="recorderOfficeList"
          [showError]="formHelper.isControlInvalid(form.controls.recorderOffice)"
          (changes)="onRecorderOfficeChange($event)">
        </emp-ng-select>
      </div>
      <div class="fx-item-third">
        <label>Sección/Libro:</label>
        <emp-ng-select formControlName="recordingSection"
          [items]="recordingSectionList"
          [showError]="formHelper.isControlInvalid(form.controls.recordingSection)">
        </emp-ng-select>
      </div>

      <div class="fx-item fx-end fx-items-end" style="padding-bottom: 2px; margin-right: -8px;">

        <button type="submit"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitClicked()">
          Registrar
        </button>

      </div>

    </div>

  </div>

</form>
