<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Explorador de folios electrónicos

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [style.padding.px]="8">

    <div fxLayout="column" fxFlexFill [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="isLoading" >

      </emp-ng-spinner>

      <emp-land-recordable-subjects-filter fxFlex="none"
        [filter]="filter"
        (recordableSubjectsFilterEvent)="onRecordableSubjectsFilterEvent($event)">

      </emp-land-recordable-subjects-filter>

      <emp-land-recordable-subjects-table fxFlex
        [recordableSubjectsList]="recordableSubjectsList"
        [selectedRecordableSubject]="selectedRecordableSubject"
        [queryExecuted]="queryExecuted"
        [isLoading]="isLoading"
        (recordableSubjectsTableEvent)="onRecordableSubjectsTableEvent($event)">

      </emp-land-recordable-subjects-table>

    </div>

  </div>

</div>
