
<emp-ng-spinner #spinner [visible]="isLoading">

</emp-ng-spinner>

<div class="explorer fluid">

  <div class="primary">

    <emp-land-recordable-subjects-viewer
      [selectedRecordableSubject]="selectedTractIndex.recordableSubject"
      (recordableSubjectsViewerEvent)="onRecordableSubjectsViewerEvent($event)">

    </emp-land-recordable-subjects-viewer>

  </div>

</div>


<emp-land-tract-index-explorer *ngIf="displayTractIndex"
  [tractIndex]="selectedTractIndex"
  (closeEvent)="onCloseTractIndexExplorer()">

</emp-land-tract-index-explorer>
