<div [empNgSpinnerHost]="spinner" [style.minHeight.px]="150">

  <emp-ng-spinner #spinner [visible]="isLoading || submitted">

  </emp-ng-spinner>

  <div class="section-title">Certificados emitidos en este trámite</div>

  <emp-ng-expansion-button
    [(panelState)]="panelAddState"
    [config]="{textButtonOpen: 'Agregar un certificado',
               textButtonClose: 'Cancelar agregar registro'}">

    <emp-land-certificate-creator *ngIf="panelAddState"
      [transactionUID]="transactionUID"
      [recorderOffice]="recorderOffice"
      (certificateCreatorEvent)="onCertificateCreatorEvent($event)">

    </emp-land-certificate-creator>

  </emp-ng-expansion-button>

  <emp-land-certificate-list
    [transactionUID]="transactionUID"
    [certificatesList]="certificatesList"
    (certificateListEvent)="onCertificateListEvent($event)">

  </emp-land-certificate-list>

</div>

<emp-ng-modal-window *ngIf="displayCertificateEditor"
                     [config]="{width:'920px'}">

  <emp-land-certificate-edition
    [transactionUID]="transactionUID"
    [certificate]="certificateSelected"
    (certificateEditionEvent)="onCertificateEditionEvent($event)">

  </emp-land-certificate-edition>

</emp-ng-modal-window>
