<emp-ng-spinner #spinner [visible]="isLoadingESignRequest"></emp-ng-spinner>

<div class="explorer">

  <div class="primary"
    [class.hidden]="displayFileViewer"
    [class.md-hide]="displayTabbedView || displayFileViewer || displayRegistryEntryEditor">

    <emp-land-explorer
      [explorerType]="selectedLandExplorerType"
      [title]="titleWithStatus"
      [itemsTypeName]="itemTypeName"
      [query]="query"
      [recorderOfficeList]="recorderOfficeList"
      [explorerTypesList]="explorerTypesList"
      [statusList]="statusList"
      [operationsList]="operationList"
      [itemsList]="itemsList"
      [selectedItemUID]="selectedItem.uid ?? null"
      [canSelectStatus]="true"
      [canSelectExplorerType]="true"
      [isLoading]="isLoading"
      (landExplorerEvent)="onESignExplorerEvent($event)">

    </emp-land-explorer>

  </div>

  <div *ngIf="displayFileViewer"
    class="primary-resizable primary-resizable-disable-md primary-floating"
    [class.md-hide]="displayRegistryEntryEditor"
    empNgResizable>

    <emp-land-file-viewer
      [fileViewerData]="selectedFileViewerData"
      [cardFloatingEffect]="true"
      (closeEvent)="onCloseFileViewer()">

    </emp-land-file-viewer>

  </div>


  <div *ngIf="displayTabbedView"
    class="secondary"
    [class.hidden]="displayRegistryEntryEditor"
    [class.md-hide]="displayRegistryEntryEditor || displayFileViewer">

    <emp-land-transaction-tabbed-view
        [transaction]="selectedItem"
        (closeEvent)="onCloseItemEditor()">

    </emp-land-transaction-tabbed-view>

  </div>


  <div *ngIf="displayRegistryEntryEditor"
    class="secondary">

    <emp-land-registry-entry-editor
      [data]="selectedRegistryEntryData"
      [cardFloatingEffect]="true"
      (registryEntryEditorEvent)="onRegistryEntryEditorEvent($event)">

    </emp-land-registry-entry-editor>

  </div>

</div>


<emp-ng-modal-window *ngIf="displayWorkflowCommanderOption"
                     [config]="{width:'920px'}">

  <emp-land-workflow-commander
    [transactionList]="displayWorkflowCommanderOption === WorkflowCommanderOptions.ReceiveTransactions ? [] : selectedItems"
    [canEditList]="displayWorkflowCommanderOption !== WorkflowCommanderOptions.ExecuteCommand"
    [applyEffects]=" false"
    (workflowCommanderEvent)="onWorkflowCommanderEvent($event)">

  </emp-land-workflow-commander>

</emp-ng-modal-window>


<emp-land-e-sign-modal *ngIf="displayESignOption"
  [explorerType]="selectedLandExplorerType"
  [operation]="displayESignOption"
  [itemsList]="selectedItems"
  (eSignModalEvent)="onESignModalEvent($event)">

</emp-land-e-sign-modal>
