<div fxLayout="row" fxLayoutAlign="space-between center">

  <ng-container *empNgHasPermission="Permissions.FEATURE_TRANSACTIONS_ADD">

    <div style="width:32px"></div>

    <button class="btn" (click)="onReceiveTransactionsOptionsClicked()">Paquetes</button>

    <div style="width:3rem"></div>

    <button class="btn-action" (click)="onCreateTransactionClicked()">Nuevo</button>

    <div style="width:1rem"></div>

  </ng-container>

  <input type="search" class="text-box" style="min-width:220px" fxHide.lt-sm="true"
    placeholder="Buscar trámites"
    (search)="onFilterChanged()" [(ngModel)]="keywords">

</div>
